<h1>Log in</h1>
<%= form_tag sessions_path do %>
    <div class="main_div">
      <table>
        <tr>
          <td style="width: 125px; vertical-align: middle">
            <%= label_tag :username %>:
          </td>
          <td style="width: 200px;">
            <div class="field">
              <%= text_field_tag :username, params[:username], :size => 20 %>
            </div>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle">
            <%= label_tag :password %>:
          </td>
          <td>
            <div class="field">
              <%= password_field_tag :password, '', :size => 20 %>
            </div>
          </td>
          <td style="vertical-align: middle">
            <a href="sessions/forgotpass/">Forgot Password?</a>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle" colspan="2">
            <div class="field">
              <%= check_box_tag :remember_me, 1, params[:remember_me] %>&nbsp;<%= label_tag :remember_me %>
            </div>
          </td>
      </table>
    </div>
    <div class="right_div"><%= submit_tag "Log in" %></div>
<% end %>


