<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

             Parents

    <% if(@all_products.length == 0)%>
        No Eligable Components or Products Available
    <%else%>
        <div class ="field">
           <select size="10" multiple="multiple" name="new_components_ids[]">
             <%for prod in @all_products%>
                 <%@pt = ""%>
                 <%parent_table(prod, 0)%>
                <%=@pt.html_safe%>
             <%end%>
           </select>
        </div>
    <%end%>
  <p/>

    Group

    <%if(@all_groups.length == 0)%>
        No Groups Availaable
    <%else%>
           <div class ="field">
           <select size="5" name="new_group_id[]">
             <%for group in @all_groups%>
                 <option value = "<%=group.id%>" <%if(@component.group_id == group.id)%> selected = "true"<%end%>>
                    <%= group.name %>
                 </option>
             <%end%>
           </select>
        </div>
    <%end%>
               <p/>
<b>Properties</b>
<% valuefields = @component.valuefields%>
    <%if(valuefields.length ==0)%>
        <br/>No Properties Available
        <%else%>
<table>
  <tr>
    <th><b>Value<%if(valuefields.length > 1)%>s<%end%>:</b></th>
    <th><b>Type:</b></th>
  </tr>
  <%for val in valuefields%>
      <% property = val.property %>
      <tr>
        <td> <%= link_to(val.fieldvalue, val) %> </td>
        <td> <%= link_to("#{property.name} (#{property.field_type}) ", property) %> </td>
      </tr>
      <%end%>
</table>
        <%end%>


    <p/>
     <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
     <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>


