<%= form_for(@component, :html => { :multipart => true }) do |f| %>
    <% if @component.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

          <ul>
            <% @component.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="main_div">
      <table class="main_table">
        <tr>
          <th align="left">Name</th>
          <th align="left">Description</th>
          <th align="left">Code</th>
        </tr>
        <tr>
          <td>
            <div class ="field">
              <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :description, :required => true%>&nbsp;<span style="color: red">*</span>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :code%>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th align="left">Parents</th>
          <th align="left">Group</th>
          <th align="left">ValueFields</th>
        </tr>
        <tr>
          <td>
            <div class="field">
              <% if(@all_products.length == 0)%>
                  No Eligable Components or Products Available
              <%else%>
                  <div class ="field">
                    <!--select size="10" multiple="multiple" name="new_components_ids[]"  STYLE="width: 90%"-->

                          <%#parent_table(prod, 0).html_safe%>
                          <%= parent_accord(prod_comp_hash(nil), 1, 0).html_safe  %>
                             <!--/select-->&nbsp;
                    <span style="color: red; vertical-align: top;">*</span>
                  </div>
              <%end%>
            </div>
          </td>
          <td>
            <%if(@all_groups.empty?)%>
                No Groups Available
            <%else%>

                <%= parent_accord(group_hash, 2, 0).html_safe %>
                <!--div class ="field">
                  <!--select size="10" name="new_group_id" STYLE="width: 100%">
                    <%#for group in @all_groups%>
                        <option value = "<%#group.id%>" <%#if(!@component_use == nil && @component_use.group_id == group.id)%> selected = "true"<%#end%>>
                          <%# group.name %>
                        </option>
                    <%#end%>
                  </select>
                </div-->
            <%end%>
          </td>
          <td>
            <!--select size="10" name="new_ValueFields[]" id="new_Valuefields" multiple="multiple" STYLE="width: 100%"-->
              <%#properties_VF_table.html_safe%>

              <%= parent_accord(prop_vf_hash, 3, 0).html_safe  %>
            <!--/select-->
          </td>
        </tr>
      </table>
    </div>
    <div class="right_div">


        <input type="reset" />
      <%= f.submit %>
    </div>
<%end %>

<script type="text/javascript">
    jQuery(function($) {
        $("#component_photo").change(function(){
            $.get("/components/update_picture", null, 'script');
            return false;
        });

        $("#new_Valuefields").click(function(){
            index = $("#new_Valuefields").prop("selectedIndex");
            if( $("#new_Valuefields").children("option").eq(index).html()[0] != "-"){
                for(i = index + 1; i < $("#new_Valuefields")[0].length; i ++){
                    if( $("#new_Valuefields").children("option").eq(i).html()[0] != "-"){
                        break;
                    }
                    $("#new_Valuefields").children("option").eq(i).attr("selected", "true");
                }
                $("#new_Valuefields").children("option").eq(index).removeAttr("selected");
            }
            return false;
        });


        $("#acc1").accordion();
    });
</script>

