<%= form_for(@component, :html => { :multipart => true }) do |f| %>
    <% if @component.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

          <ul>
            <% @component.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="main_div">
      <table class="main_table">
        <tr>
          <th align="left">Name</th>
          <th align="left">Description</th>
          <th align="left">Code</th>
        </tr>
        <tr>
          <td>
            <div class ="field">
              <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :description, :required => true%>&nbsp;<span style="color: red">*</span>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :code%>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th align="left">Parents</th>
          <th align="left">Groups</th>
          <th align="left">ValueFields</th>
        </tr>
        <tr>
          <td>
            <div class="field">
                <%= checkbox_accord(all_prod_comp_hash,  0).html_safe  %>
                    <span style="color: red; vertical-align: top;">*</span>
            </div>
          </td>
          <td>
                <%= radio_accord(all_group_hash, "component").html_safe %>
          </td>
          <td>
              <%= checkbox_accord(all_prop_vf_hash).html_safe  %>
          </td>
        </tr>
      </table>
    </div>
    <div class="right_div">

        <input type="reset" />
      <%= f.submit %>
    </div>
<%end %>

<script type="text/javascript">
    jQuery(function($) {
        $("#component_photo").change(function(){
            $.get("/components/update_picture", null, 'script');
            return false;
        });

        $("#new_Valuefields").click(function(){
            index = $("#new_Valuefields").prop("selectedIndex");
            if( $("#new_Valuefields").children("option").eq(index).html()[0] != "-"){
                for(i = index + 1; i < $("#new_Valuefields")[0].length; i ++){
                    if( $("#new_Valuefields").children("option").eq(i).html()[0] != "-"){
                        break;
                    }
                    $("#new_Valuefields").children("option").eq(i).attr("selected", "true");
                }
                $("#new_Valuefields").children("option").eq(index).removeAttr("selected");
            }
            return false;
        });


         });
</script>


<ul id="acc1_test" class="accordion">
  <li>
    <h4>Heading 1</h4>
    <div class="inner">
      <ul>
        <li>
          <h5>Heading a</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
        <li>
          <h5>Heading b</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
        <li>
          <h5>Heading c</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <h4>Heading 2</h4>
    <div class="inner">
      <ul>
        <li>
          <h5>Heading a</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
        <li>
          <h5>Heading b</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
        <li>
          <h5>Heading c</h5>
          <div class="inner">
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
              non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul> <!-- end accordion 1 -->

