<%= form_for(@component, :html => { :multipart => true }) do |f| %>
    <% if @component.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

          <ul>
            <% @component.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div>
      <table>
        <tr>
          <th align="left">Name&nbsp;<span style="color: red">*</span></th>
          <th align="left">Description&nbsp;<span style="color: red">*</span></th>
          <th align="left">Code</th>
        </tr>
        <tr>
          <td>
            <div class ="field">
              <%= f.text_field :name, :required => true %>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :description, :required => true%>
            </div>
          </td>
          <td>
            <div class="field">
              <%= f.text_field :code%>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th align="left">Parents&nbsp;<span style="color: red">*</span></th>
          <th align="left">Groups</th>
          <th align="left">ValueFields</th>
        </tr>
        <tr>
          <td>
            <div class="field">
                <%= checkbox_accord(all_prod_comp_hash,  0).html_safe  %>


              <!--ul id=5 class="accordion">
                <li>abc</li><%#check_box_tag "parent_ids[]", Product.all[0].id%>
              </ul-->
            </div>
          </td>
          <td>
                <%= radio_accord(all_group_hash, "component").html_safe %>
          </td>
          <td>
              <%= checkbox_accord(all_prop_vf_hash).html_safe  %>
          </td>
        </tr>
        <tr><td><h5>Required fields are marked with <span style="color: red">*</span></h5></td>
          <td colspan="2">
          <div class="right_div">
        <input type="reset" />
      <%= f.submit %>
    </div>
        </td></tr>
      </table>
    </div>
<%end %>


<script type="text/javascript">
    jQuery(function($) {
        $("#component_photo").change(function(){
            $.get("/components/update_picture", null, 'script');
            return false;
        });

        $("#new_Valuefields").click(function(){
            index = $("#new_Valuefields").prop("selectedIndex");
            if( $("#new_Valuefields").children("option").eq(index).html()[0] != "-"){
                for(i = index + 1; i < $("#new_Valuefields")[0].length; i ++){
                    if( $("#new_Valuefields").children("option").eq(i).html()[0] != "-"){
                        break;
                    }
                    $("#new_Valuefields").children("option").eq(i).attr("selected", "true");
                }
                $("#new_Valuefields").children("option").eq(index).removeAttr("selected");
            }
            return false;
        });
    });
</script>
