
<div>
  <table class="tight_table main_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
      <th align="left">Actions</th>
    </tr>
    <tr>
      <td valign="top"><%= component.name %></td>
      <td valign="top"><%= component.description %></td>
      <td valign="top"><%= component.code %></td>
      <td>
        <div>
          <%= link_to image_tag("edit-icon.png"), edit_component_path(component), :title=>"Edit", :method => :get %>
          &nbsp
          <%= link_to image_tag("delete-icon.png"), {:controller => :components, :action => "destroy", :id => component.id }, :confirm => "Are You sure?", :method => :delete%>
          &nbsp
          <%= link_to image_tag("open_in_new_window.png"),"/tabs/component/#{component.id}", :title => "Open in new window" %>
        </div>
      </td>
    </tr>
  </table>
  <div class="layer1">
    <p class="heading">Click Here To Expand/Collapse Detailed Component Information</p>
    <div class="content">
      <div class="inner_scroll_div">
      <table class="tight_table">
        <tr>
          <td><%= print_component_parents_table(component).html_safe %></td>

          <td><%= print_components_table(component, false).html_safe %></td>
        </tr>
        <tr>
          <td><%= print_properties_table(component, false).html_safe %></td>

          <td><%= print_images_table(component, false).html_safe %></td>
        </tr>
        <tr>
          <td><%= print_datafiles_table(component, false).html_safe %></td>
        </tr>
      </table>
        </div>
    </div>
  </div>
</div>



