
<!--Component Show Page -->
<p id="notice"><%# notice %></p>
<h1>Viewing Component: <%=@component.name%></h1>
<div class="inner_container_show">
<div class="main_div">
  <table class="main_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
    </tr>
    <tr>
      <td><%= @component.name %></td>
      <td><%= @component.description %></td>
      <td><%= @component.code %></td>
    </tr>
  </table>


 <!-- the tabs -->
  <div  class="tabs">
  <ul>
    <li><a href="#">Products</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Value Fields</a></li>
    <li><a href="#">Images</a></li>
    <li><a href="#">Data Files</a></li>
    <li><a href="#">Group</a></li>
  </ul>

  <!-- tab "panes" -->
  <div>

    <div>
      <%= print_products_table(@component).html_safe %>
    </div>
    <div>
      <%= print_component_parents_table(@component).html_safe %>
      <%= print_components_table(@component).html_safe %>
    </div>
    <div>
      <%= print_properties_table(@component).html_safe %>

    </div>
    <div>
      <%= print_images_table(@component).html_safe %>
    </div>
    <div>
      <%= print_datafiles_table(@component).html_safe %>
    </div>
    <div>
      <% group = @component.group %>
      <table>
        <tr><th align="left">Group</th></tr>
        <tr><td>
          <% if(!group.nil?) %>
              <%= link_to("#{group.name} ", group) %>
          <%else%>
              No Groups Available
                </td></tr><tr><td> <%=my_button_to "New Group", new_group_path, [@component]%>
          <%end%>
        </td></tr>
      </table>
    </div>

  </div>
  </div>
    </div>
</div>
<div class="right_div">
  <%= button_to "Edit Component", edit_component_path(@component), :method => :get %>
  <%= button_to "Delete Component", {:controller => :components, :action => "destroy", :id => @component.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Component", new_component_path + "?duplicate_component=#{@component.id}"%>
</div>

