<!--Component Show Page -->
<p id="notice"><%= notice %></p>
<h1>Viewing Component: <%=@component.name%></h1>
<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
    <th align="left">Model Texture</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @component.name %></td>
    <td><%= @component.description %></td>
    <td><%= @component.code %></td>
    <td>

    </td>
    <td><%= button_to "Edit Component", edit_component_path(@component), :method => :get %></td>
  </tr>
</table>

<h4>Group related to <%=@component.name%></h4>
<% group = @component.group %>
<table>
  <tr><th align="left">Group Name</th></tr>
  <% if(group != nil) %>
      <tr><td><%= link_to("#{group.name} ", group) %></td></tr>
  <%else%>
      <tr><td>No Groups Available</td></tr>
  <%end%>
</table>

<h4> Parent Components related to <%=@component.name%> </h4>
<% print_component_parents %>
<table>
  <tr><th align="Left">Parent Name</th></tr>
  <%= @part.html_safe %>
</table>

<h4>Child Components related to <%=@component.name%></h4>
<% print_component_child %>
<table>
  <tr><th align="left">Child Name</th></tr>
  <%= @ch.html_safe %>
</table>

<h4>Field Values & Properties related to <%=@component.name%></h4>
<% print_values_related %>
<table>
  <tr>
    <th align="left">Field Value</th>
    <th align="left">Property</th>
  </tr>
  <%= @pp.html_safe %>
</table>
<br class="clear" />