<p id="notice"><%= notice %></p>
 <table>
  <tr>
    <th><b>ID:</b></th>
    <th><b>Name:</b></th>
    <th><b>Parent ID:</b></th>
  </tr>
  <tr>
    <td align="center"><%= @component.id %></td>
    <td align="center"><%= @component.name %></td>
    <td align="center"><%= @component.parent_id %></td>
  </tr>
  <tr><td><p></p></td></tr>
  <tr>
    <td>
     <%= button_to "Edit", edit_component_path(@component), :method => :get %>
    </td>
    <td>
     <%= button_to "Back", components_path, :method => :get %>
    </td>
  </tr>
</table>