

<!--Component Show Page -->
<p id="notice"><%# notice %></p>
<h1>Viewing Component: <%=@component.name%></h1>
<div class="main_div">
  <table class="main_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
    </tr>
    <tr>
      <td><%= @component.name %></td>
      <td><%= @component.description %></td>
      <td><%= @component.code %></td>
    </tr>
  </table>


 <!-- the tabs -->
  <ul class="tabs">
    <li><a href="#">Associations</a></li>
    <li><a href="#">Attachments</a></li>
  </ul>

  <!-- tab "panes" -->
  <div class="panes">


    <div> <!--pane 1 -->
      <% group = @component.group %>
      <table>
        <tr><th align="left">Related Group</th></tr>
        <tr><td>
          <% if(!group.nil?) %>
              <%= link_to("#{group.name} ", group) %>
          <%else%>
              No Groups Available
          <%end%>
        </td></tr>
      </table>

    <%= print_product_table(@component).html_safe %>

    <%= print_component_table(@component).html_safe %>

    <%= print_component_child_table(@component).html_safe %>

    <%= print_properties_table(@component).html_safe %>

    </div>  <!--pane 1 -->

    <div> <!--pane 2 -->

      <%= print_images_table(@component).html_safe %>

      <%= print_datafiles_table(@component).html_safe %>
    </div><!--pane 2 -->
  </div>
</div>
<div class="right_div">
  <%= button_to "Edit Component", edit_component_path(@component), :method => :get %>
  <%=button_to "Delete Component", {:controller => :components, :action => "destroy", :id => @component.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Component", new_component_path + "?duplicate_component=#{@component.id}"%>
</div>

