<p id="notice"><%= notice %></p>

<% parents = @component.products + @component.component_parents%>
<% valuefields = @component.valuefields%>


 <table>
  <tr>
    <th><b>Name:</b></th>
    <th>Description:</th>
  </tr>
  <tr>
    <td rowspan="<%=valuefields.length%>" align="center"><%= @component.name %></td>
    <td rowspan="<%=valuefields.length%>" align="center"><%= @component.description %></td>

  </tr>
  <tr><td><p></p></td></tr>
  <tr>
    <td>
     <%= button_to "Edit", edit_component_path(@component), :method => :get %>
    </td>
    <td>
     <%= button_to "Back", components_path, :method => :get %>
    </td>
  </tr>
</table>

                  <p/>

<table>
  <tr><th><b>Parent<%if(parents.length > 1)%>s<%end%>:</b></th></tr>
  <%for par in parents%>
      <tr><td>
    <%= link_to(par.name, par) %>
      </td></tr>
      <%end%>
</table>

               <p/>


   <b>Components</b>
<% components = @component.components
   if(components.length > 0) %>
<table>
  <tr>
    <th><b>Component:</b></th>
    <th><b>Description:</b></th>
  </tr>
  <%for comp in components%>
      <tr>
        <td> <%= link_to("#{comp.name} ", comp) %> </td>
        <td> <%= comp.description %> </td>
      </tr>
      <%end%>
</table>
    <%else%>
    <br/>No Components
<%end%>

               <p/>

   <b>Properties</b>
<%if(valuefields.length > 0) %>
<table>
  <tr>
    <th><b>Property:</b></th>
    <th><b>Value:</b></th>
  </tr>
  <%for val in valuefields%>
      <% property = val.property %>
      <tr>
        <td> <%= link_to("#{property.name} (#{property.field_type}) ", property) %> </td>
        <td> <%= link_to(val.fieldvalue, val) %> </td>
      </tr>
      <%end%>
</table>
    <%else%>
    <br/>No properties
<%end%>


<%= button_to "New Property", new_property_path, :method => :get %>
