<!--Component Show Page -->
<p id="notice"><%# notice %></p>
<h1>Viewing Component: <%=@component.name%></h1>
<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @component.name %></td>
    <td><%= @component.description %></td>
    <td><%= @component.code %></td>
    <td><%= button_to "Edit Component", edit_component_path(@component), :method => :get %>
    <%=button_to "Delete Component", {:controller => :components, :action => "destroy", :id => @component.id }, :confirm => "Are You sure?", :method => :delete%></td>
  </tr>
</table>

<h4>Group related to <%=@component.name%></h4>
<% group = @component.group %>
<table>
  <tr><th align="left">Group Name</th></tr>
  <tr><td>
  <% if(!group.nil?) %>
      <%= link_to("#{group.name} ", group) %>
  <%else%>
      No Groups Available
  <%end%>
  </td></tr>
</table>

<h4> Parent Components related to <%=@component.name%> </h4>
<table>
  <tr><th align="Left">Parent Name</th></tr>
  <%= print_component_parents.html_safe %>
</table>



<h4>Child Components related to <%=@component.name%></h4>
<table>
  <tr><th align="left">Child Name</th></tr>
  <%= print_component_child.html_safe %>
</table>


<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Properties related to <%=@component.name%></b></th>
    <th align="left"><b>Value</b></th>
  </tr>
  <%properties = @component.properties %>

  <% if(!properties.empty?) %>
    <%for prop in properties %>
      <%valuefields = prop.valuefields %>
      <tr>
        <td> <%= link_to("#{prop.name} (#{prop.field_type}) ", prop) %> </td>

        <%if(!valuefields.empty?)%>
          <td>
            <table>
              <%for val in valuefields%>
             <tr>
               <td> <%= link_to(val.fieldvalue, val) %> </td>
             </tr>
              <%end%>
        <%else%>
            <td>No valuefields</td>
        <%end%>
            <tr>
              <td></td>
              <td>

                   <%# button_to "New #{prod.name} Value", new_valuefield_path, :method=>:get%>
                   <form method="get" action="/valuefields/new"  class="button_to"><div><input type="submit" value="New <%=prop.name%> Value" /></div>
                        <input type="hidden" name="_property_id" value="_<%=prop.id%>" />
                        <input type="hidden" name="component_id" value="<%=@component.id%>" />
                   </form>

              </td>
            </tr>

            </table>
          </td>
        </tr>
   <%end%>

  <%else%>
      <tr>
        <td>No properties</td>       <td>No value</td>
      </tr>
  <%end%>
  <tr>
    <td> <%= button_to "New Property", new_property_path, :method => :get %></td><td></td>
  </tr>
</table>




<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Images related to <%=@component.name%></b></th>
  </tr>
  <%if(!@all_images.empty?)
        compImages = []
        for img in @all_images
          if(@component.id == img.component_id)
             compImages.push(img)
          end
        end%>
        <tr>
        <%for ig in compImages%>
         <td> <%= link_to(image_tag(ig.picture), ig) %> </td>
        <%end%>
        </tr>
  <%else %>
      <tr>
        <td>No Images</td>
      </tr>
  <%end%>
      <tr>
        <td> <%= my_button_to "New Image", new_image_path, @component %> </td>
      </tr>
</table>