<!--Component Show Page -->
<p id="notice"><%# notice %></p>
<h1>Viewing Component: <%=@component.name%></h1>
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
  </tr>
  <tr>
    <td><%= @component.name %></td>
    <td><%= @component.description %></td>
    <td><%= @component.code %></td>
  </tr>
</table>
<table>
  <tr><th align="left">Group related to <%=@component.name%></th></tr>
  <tr><td>
  <% if(!@component.group.nil?) %>
      <%= link_to("#{@component.group.name} ", @component.group) %>
  <%else%>
      No Groups Available
  <%end%>
  </td></tr>
</table>
<table>
  <tr><th align="Left">Parent Components related to <%=@component.name%></th></tr>
  <%= print_component_parents.html_safe %>
</table>
<table>
  <tr><th align="left">Child Components related to <%=@component.name%></th></tr>
  <%= print_component_child.html_safe %>
</table>
<table style="padding-top: 15px">
  <tr>
    <th align="left">Properties related to <%=@component.name%></th>
    <th align="left">Value</th>
  </tr>
  <% if(!@component.properties.empty?) %>
    <%for prop in @component.properties %>
      <%valuefields = prop.valuefields %>
      <tr>
        <td> <%= link_to("#{prop.name} (#{prop.field_type}) ", prop) %> </td>
        <%if(!valuefields.empty?)%>
          <td>
            <table>
              <%for val in valuefields%>
                  <%if(@component.valuefields.include?(val))%>
                     <tr>
                       <td> <%= link_to(val.fieldvalue, val) %> </td>
                     </tr>
                  <%end%>
              <%end%>
        <%else%>
            <td>No valuefields</td>
        <%end%>
            <tr>
              <td>
                <%= my_button_to("New #{prop.name} Value", "/valuefields/new", [@component, @property] ) %>
              </td>
            </tr>
            </table>
          </td>
        </tr>
   <%end%>
  <%else%>
      <tr>
        <td>No properties</td>       <td>No value</td>
      </tr>
  <%end%>
  <tr>
    <td> <%= button_to "New Property", new_property_path, :method => :get %></td><td></td>
  </tr>
</table>
<table style="padding-top: 15px">
  <tr>
    <th align="left">Images related to <%=@component.name%></th>
  </tr>
  <%if(!@component.images.empty?)%>
        <%for img in @component.images%>
          <tr><td> <%= link_to(image_tag(img.picture), img) %> </td></tr>
          <%end%>
      <%else %>
      <tr>
        <td>No Images</td>
      </tr>
        <%end%>
      <tr>
        <td> <%= my_button_to "New Image", new_image_path, [@component] %> </td>
      </tr>
</table>
 </div>
<div class="right_div">
  <%= button_to "Edit Component", edit_component_path(@component), :method => :get %>
  <%= button_to "Delete Component", {:controller => :components, :action => "destroy", :id => @component.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Component", new_component_path + "?duplicate_component=#{@component.id}"%>
</div>
