<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @component.name %>
</p>

<p>
  <b>Description:</b>
  <%= @component.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @component.parent_id %>
</p>


<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
