<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th align="left">Name:</th>
    <th align="left">Description:</th>
    <th align="left">Values:</th>
  </tr>
  <tr>
    <td valign="top" rowspan=<%=@associated_values.length%>> <%= @attribute.name %></td>
    <td valign="top" rowspan=<%=@associated_values.length%>> <%= @attribute.description %></td>
     <td>

    <% if(@associated_values != nil) %>
        <% for val in @associated_values %>
            <%= val.fieldvalue %></td></tr><tr><td>
            <% end %>
        <%end%>


    </td>
  </tr>
  <tr><td><p></p></td></tr>
  <tr>
    <td>
     <%= button_to "Edit", edit_attribute_path(@attribute), :method => :get %>
    </td>
    <td>
     <%= button_to "Back", attributes_path, :method => :get %>
    </td>
  </tr>
</table>

<%= button_to "New Value", new_valuefield_path,  :method => :get %>

