<!-- Tabs for Child Components Belonging to the Component -->
  <div class="tabs2">
        <ul>
          <li style="display:none"><a>hidden</a></li>
          <li><a class="new_component" href="">New <%= @component_alias %>...</a></li>
          <li><a class="add_component" href="">Add <%= @component_alias %>...</a> </li>
          <% for component in parent.components %>
              <li><a href="<%=component.id%>"><%= component.name %></a></li>
          <% end %>

        </ul>

        <div>

          <div style=""><div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
          <div><div class="inner_container new_component_container"></div></div>
          <div><div class="inner_container add_component_container"></div></div>

          <% for component in parent.components %>
              <%
                 component_valuefields = component.valuefields
                 component_images = component.images
                 component_data_files = component.data_files
              %>
              <div>
                <a class="tab_title tab_title_expanded" href="#">
                  <h1 class="tight_h1"><%=image_tag "Accordian/bigminus.gif"%>&nbsp<%= @component_alias %>: <%=component.name%></h1>
                </a>

                <div class="inner_container" id="C<%=component.id%>">
                <div id="components_partial"><%= render "components/popup_show", :component => component %></div>
                <!-- Tabs for directly related objects to the Components -->
                <div class="tabs">
                  <ul>
                    <li><a class="s" href=""><%= @component_alias %></a></li>
                    <li><a class="s" href=""><%= @vf_alias %></a></li>
                    <li><a class="s" href=""><%= @image_alias %></a></li>
                    <li><a class="s" href=""><%= @df_alias %></a></li>
                  </ul>
                  <div>
                    <div  id="<%=component.id%>">
                    </div>
                    <div>
                      <!-- Tabs for directly related ValueFields to the Component -->
                      <div class="tabs2">
                        <ul>
                          <li style="display:none"><a>hidden</a></li>
                          <li><a class="new_vf" href>New <%= @vf_alias %>...</a></li>
                          <li><a class="add_vf" href>Add <%= @vf_alias %>...</a></li>
                          <% for valuefield in component_valuefields %>
                              <li><a href=""><%= valuefield.fieldvalue %></a></li>
                          <% end %>
                        </ul>
                        <div>
                          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                          <div><div class="inner_container new_vf_container"></div></div>
                          <div><div class="inner_container add_vf_container"></div></div>
                          <% for valuefield in component_valuefields %>
                              <div><%= render("/valuefields/popup_show", :valuefield => valuefield) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div>
                      <!-- Tabs for directly related Images to the Component -->
                      <div class="tabs2">
                        <ul>
                            <li style="display:none"><a>hidden</a></li>
                            <li><a class="new_image" href>New <%= @image_alias %>...</a></li>
                            <li><a class="add_image" href="" >Add <%= @image_alias %>...</a></li>
                          <% for image in component_images %>
                              <li><a href=""><%= image.picture_file_name %></a></li>
                          <% end %>
                        </ul>
                        <div>
                          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                          <div><div class="inner_container new_image_container"></div></div>
                          <div><div class="inner_container add_image_container"></div></div>
                          <% for image in component_images %>
                              <div><%= render("/images/popup_show", :image => image) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div>
                      <!-- Tabs for directly related Data Files to the Component -->
                      <div class="tabs2">
                        <ul>
                            <li style="display:none"><a>hidden</a></li>
                            <li><a class="new_df" href>New <%= @df_alias %>...</a></li>
                            <li><a class="add_df" href>Add <%= @df_alias %>...</a></li>
                          <% for datafile in component_data_files %>
                              <li><a href="" class="xl"><%= datafile.filedata_file_name %></a></li>
                          <% end %>
                        </ul>
                        <div>
                          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                          <div><div class="inner_container new_df_container"></div></div>
                          <div><div class="inner_container add_df_container"></div></div>
                          <% for data_file in component_data_files %>
                              <div><%= render("/data_files/popup_show", :data_file => data_file) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          <% end %>
        </div>
  </div>

<script type="text/javascript">
    jQuery(function($) {
        setUpPopUp();
    });
</script>
