<!-- Tabs for Child Components Belonging to the Product -->
  <div class="tabs2">
        <ul>
          <li style="display:none"><a>hidden</a></li>
          <li><a class="new_component" href="">New Component...</a></li>
          <% for component in parent.components %>
              <li><a href="<%=component.id%>"><%= component.name %></a></li>
          <% end %>

        </ul>

        <div>

          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>

          <div><div class="inner_container component_container"><%# render("components/new") %></div></div>

          <% for component in parent.components %>
              <div>
                <a class="tab_title tab_title_expanded" href="#"><h1 class="tight_h1"><%=image_tag "Accordian/bigminus.gif"%>&nbspComponent: <%=component.name%></h1></a>
                <div class="inner_container">
                <%= render "components/show", :component => component %>
                <!-- Tabs for directly related objects to the Components -->
                <div class="tabs">
                  <ul>
                    <li><a class="s" href="">Components</a></li>
                    <li><a class="s" href="">Value Fields</a></li>
                    <li><a class="s" href="">Images</a></li>
                    <li><a class="s" href="">Data Files</a></li>
                  </ul>
                  <div>
                    <div  id="<%=component.id%>">
                      <%# render "admin/components_tabs", :parent => component %>
                    </div>
                    <div>
                      <!-- Tabs for directly related ValueFields to the Product -->
                      <div class="tabs2">
                        <ul>
                          <li style="display:none"><a>hidden</a></li>
                          <li><a class="new_vf" href>New Valuefield...</a></li>
                          <% for valuefield in component.valuefields %>
                              <li><a href=""><%= valuefield.fieldvalue %></a></li>
                          <% end %>
                        </ul>
                        <div>
                          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                          <div><div class="inner_container vf_container"><%# render("valuefields/new") %></div></div>
                          <% for valuefield in component.valuefields %>
                              <div><%= render("/valuefields/show", :valuefield => valuefield) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div>
                      <!-- Tabs for directly related Images to the Product -->
                      <div class="tabs2">
                        <ul>
                            <li style="display:none"><a>hidden</a></li>
                            <li><a class="new_image" href>New Image...</a></li>
                          <% for image in component.images %>
                              <li><a href=""><%= image.picture_file_name %></a></li>
                          <% end %>
                        </ul>
                        <div>
                          <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                          <div><div class="inner_container image_container"><%# render("images/new") %></div></div>
                          <% for image in component.images %>
                              <div><%= render("/images/show", :image => image) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div>
                      <!-- Tabs for directly related Data Files to the Product -->
                      <div class="tabs2">
                        <ul>
                            <li style="display:none"><a>hidden</a></li>
                            <li><a class="new_df" href>New Data File...</a></li>
                          <% for datafile in component.data_files %>
                              <li><a href="" class="xl"><%= datafile.filedata_file_name %></a></li>
                          <% end %>
                        </ul>
                        <div>
                              <div style="">   <div class="inner_container"><p style="text-align: center">Select a tab from the list to display details</p></div></div>
                              <div><div class="inner_container df_container"><%# render("data_files/new") %></div></div>
                          <% for data_file in component.data_files %>
                              <div><%= render("/data_files/show", :data_file => data_file) %></div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          <% end %>

        </div>
  </div>