

//raw method prevents html escaping



if("<%=@type%>" == "p"){
    make_table("product_select_area");
    $('#valuefield_select_area').html("")
    $('#component_select_area').html("")
} else if("<%=@type%>" == "c"){
    make_table("component_select_area");
    $('#valuefield_select_area').html("")
} else if("<%=@type%>" == "v"){
    make_table("valuefield_select_area");
} else if("<%=@type%>" == "DONE"){

    $('select').attr("disabled","");

    $('#button').removeAttr("disabled","");

    $('#prop_select').removeAttr("disabled");

    $('select').attr("style","width: 100%");
}

$('#valuefield_path').attr("value","<%=@path%>");
$('#valuefield_path_hidden').attr("value","<%=@path%>");





function make_table(where){

    $('select').attr("disabled","");
    $('select').attr("style","width: 100%");
    $('#prop_select').removeAttr("disabled");

   o = "";

    <%if(@items != nil)%>
        o += "<select style='width: 100%; border: 2px solid red' size=\"5\" id = \""+"\">";
        <%for item in @items%>
          o += "<option value=\"<%= @type %><%= item.id %>\">";
            o += "<%=item.name%>";
          o += "</option>";
        <%end%>
        o += "</select>";
    <%end%>
    $('#'+where).html(o);

}


