<%= form_for(@valuefield) do |f| %>
    <% if @valuefield.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

          <ul>
            <% @valuefield.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<h1>Add Value</h1>



  <h2>Path</h2>
  <%= text_field_tag 'valuefield_path',  "", {:disabled => true, :style => "width: 100%"}%>
  <%= text_field_tag 'valuefield_path_hidden',  "", {:hidden => true, :style => "width: 100%"}%>




<table>
  <tr>
    <th width="25%">
      Category
    </th>
    <th width="25%">
      Product
    </th>
    <th width="25%">
      Component
    </th>
    <th width="25%">
      Value
    </th>
  </tr>
  <tr>
    <td>
      <%
   categories = Category.all
   if(categories.length == 0)%>
    <br/> No Categories Available
    <%else%>
        <div id ="category_select_area">
          <select style="width: 100%" size="5" id = "category_select_box">
            <%for cat in categories%>
                <%if(!cat.products.empty?)%>
                <option value="<%= @type %><%= cat.id %>">

                  <%=cat.name%>

                </option>
                <%end %>
            <%end%>
          </select>
        </div>
    <%end%>
    </td>
    <td>
        <div id="product_select_area"></div>
    </td>
    <td>
        <div id="component_select_area"></div>
    </td>
    <td>
        <div id="valuefield_select_area"></div>
    </td>
  </tr>
</table>

<br/>
   <div id="property_div">
    <table>
      <tr>
        <th align="left">Property</th>
        <th align="left">Value</th>
        <th align="left">Actions</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <select id ="prop_select" name="property_id">
              <%for prop in @all_properties %>
                  <option value= "<%=prop.id %>">
                    <%= prop.name%> (<%=prop.field_type%>)</option>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :fieldvalue %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit :id => "button", :disabled => "true"%>
          </div>
        </td>
      </tr>
    </table>
</div>




<script type="text/javascript">


    jQuery(function($) {
        $('#cart123 p').replaceWith("<%= escape_javascript(render :partial => 'fill_select') %>");
    });

</script>


<script type="text/javascript">

    jQuery(function($) {


        // dummy example... ignore
        $('#prod_select123').live('click',
                function () {
                    $.getScript(this.href, this.val());
                    return false;
                }
        );


        // prod_select ajax get function
        $('select').live('click',function () {
            $.get("/admin/addvalue", {path: $('#valuefield_path_hidden').attr("value"), item: $(this).val()}, null, 'script');
            return false;
        });


$('#valuefield_path').attr("value","");
$('#valuefield_path_hidden').attr("value","");
$('#valuefield_path_hidden').attr("value","");
    });



</script>



<div id="submit_button">
    <% form_tag url_for(:action => "addvalue"), :id => "tool-form", :remote => true, do  %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
<% end %>
</div>


<% #  link_to "Add to cart", :url => {:action => "addvalue", :id => 1},  :remote => true %>

<%end%>