<!DOCTYPE html>
<head>
    <title>Welcome aboard</title>
    <link href="/assets/blueprint/screen.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/blueprint/print.css?body=1" media="print" rel="stylesheet" type="text/css" />
    <link href="/assets/blueprint/custom.scss.erb?body=1" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
  <% menu = ["Categories", "Products", "Groups", "Components", "Properties", "Value Fields", "Validations", "Images", "Data Files"] %>
  <h1>Main Menu</h1>
  <div class="container_main_menu">
  <table class="main_table">
    <tr>
      <!-- Categories expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[0] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Category.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>

      <!-- Groups expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[2] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Group.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>
      <!-- Properties expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[4] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Property.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>

    </tr>
    <tr>
      <!-- Products expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[1] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Product.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>

      <!-- Components expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[3] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Component.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>

      <!-- Value Fields expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[5] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Valuefield.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>

    </tr>
    <tr>
      <!-- Images expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[7] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Image.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>
      <!-- Data Files expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[8] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(DataFile.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>
      <!-- Validations expand for link list -->
      <td>
        <div class="layer1">
          <p class="heading_main_menu"><%= menu[6] %></p>
          <div class="content_main_menu">
            <div>
              <table class="tight_table">
                <%= print_link_list(Validation.all).html_safe %>
              </table>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
</div>
</body>

<script type="text/javascript">
  jQuery(function($) {
      //Expand/Collapse javascript
        $(".content_main_menu").hide();
        $(".heading_main_menu").unbind('click');
        //toggle the componenet with class msg_body
        $(".heading_main_menu").click(function() {
            $(this).next(".content_main_menu").slideToggle(1200).scroll();
        });
  })
</script>