


<h1>Search</h1>


<label>Search <input class="query" type=text onkeydown="if (event.keyCode == 13) document.getElementById('gobtn').click()"/></label>
<label> <input class="go" type="button" value="Go" id="gobtn" /> </label>


<br/>
<br/>
<br/>
Include results that are of this type
<div>
<%= radio_button_tag "filter_type", "All_type", true %> All
<%= radio_button_tag "filter_type", "Category", false %> Categories
<%= radio_button_tag "filter_type", "Product" , false %> Products
<%= radio_button_tag "filter_type", "Component" , false %> Components
<%= radio_button_tag "filter_type", "Value Field", false %> ValueFields
</div>
  <br/>

Include results that are contained in this field
<div>
<%= radio_button_tag "filter_field", "All_field", true %> All
<%= radio_button_tag "filter_field", "Type", false %> Type
<%= radio_button_tag "filter_field", "Name", false %> Name
<%= radio_button_tag "filter_field", "Description" , false %> Description
<%= radio_button_tag "filter_field", "Code" , false %> Code
</div>


<br/>
Include results that contain a child of this type
<div>
<%= radio_button_tag "filter_attached", "Any_attached", true %> Any Attachment
<%= radio_button_tag "filter_attached", "Product", false %> Product
<%= radio_button_tag "filter_attached", "Component", false %> Component
<%= radio_button_tag "filter_attached", "Data File" , false %> Data File
<%= radio_button_tag "filter_attached", "Image" , false %> Image
<%= radio_button_tag "filter_attached", "Value Field" , false %> Value Field
</div>
 <br/><br/>


<h2>Results</h2>
<table class="results">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Description</th>
    <th>Code</th>
  </tr>


</table>

<script type="text/javascript">

    jQuery(function($) {

      $('.go').click(function(){
         $.get("/admin/do_search", {query: $('.query').val()}, null, 'script');

      });

      $('input[type="radio"]').click(applyFilter);
    });

    function applyFilter(){
        $('.results tr').show();

        filter_type = $('input[name="filter_type"]:checked').val();
        filter_field = $('input[name="filter_field"]:checked').index();
        filter_attached = $('input[name="filter_attached"]:checked').val();


        if(filter_type != "All_type"){

            $('.results tr').filter(
                function(){
                    return $(this).find("> td:first").text() != filter_type;
                }).hide();
        }
        if(filter_field != 0){

            $('.results tr').filter(
                function(){
                    return $(this).find("> td:nth-child(" + filter_field +")").text().indexOf($('.query').val()) == -1;
                }).hide();
        }

        if(filter_attached != "Any_attached"){
            $('.results tr').filter(
                function(){
                    return $(this).find("> td:first > div").text().indexOf(filter_attached) == -1;
                }).hide();


        }

        $('.results tr:first').show();
    }

</script>