
<h1 class="title_header">Product: <%=@product.name%></h1>
   <div class="inner_container">
 <div><%= render "products/show" %></div>
 <div class="tabs">
   <ul>
     <li><a class="l" href="">Components</a></li>
     <li><a class="l" href="">Properties</a></li>
     <li><a class="l" href="">Value Fields</a></li>
     <li><a class="l" href="">Images</a></li>
     <li><a class="l" href="">Data Files</a></li>
   </ul>
   <div>
     <div>
       <%if(!@product_components.empty?)%>
           <div class="tabs2">
             <ul>
               <%for c in @product_components%>
                   <li><a href=""><%=c.name%></a></li>
               <%end%>
               <li><a href="">New Component</a> </li>
             </ul>
             <div>
               <%for @component in @product_components%>
                   <div>
                     <%= render("/components/show", :object => [@component]) %>
                     <div class="tabs">
                       <ul>
                         <li><a class="s" href="">Group</a></li>
                         <li><a class="s" href="">Components</a></li>
                         <li><a class="s" href="">Properties</a></li>
                         <li><a class="s" href="">Value Fields</a></li>
                         <li><a class="s" href="">Images</a></li>
                         <li><a class="s" href="">Data Files</a></li>
                       </ul>
                       <div>
                         <div>
                           <%if(!@component.group_id.nil?)%>
                               <%@group = @component.group%>
                               <%= render("/groups/show", :object => [@group]) %>
                           <%else%>
                               <h5>None Available.</h5>
                           <%end%></div>
                         <div>
                           <%if(!@component.properties.empty?)%>
                               <div class="tabs">
                                 <ul>
                                   <%for prop in @component.properties%>
                                       <li><a href=""><%=prop.name%></a></li>
                                   <%end%>
                                 </ul>
                                 <div>
                                   <%for prop in @component.properties%>
                                       <%@property = prop%>
                                       <div><%= render("/properties/show", :object => [@property]) %></div>
                                   <%end%>
                                 </div>
                               </div>
                           <%else%>
                               <h5>None Available.</h5>
                           <%end%>
                         </div>
                         <div>
                           <%if(!@component.valuefields.empty?)%>
                               <div class="tabs">
                                 <ul>
                                   <%for vf in @component.valuefields%>
                                       <li><a href=""><%=vf.fieldvalue%></a></li>
                                   <%end%>
                                 </ul>
                                 <div>
                                   <%for vf in @component.valuefields%>
                                       <%@valuefield = vf%>
                                       <div><%= render("/valuefields/show", :object => [@valuefield]) %></div>
                                   <%end%>
                                 </div>
                               </div>
                           <%else%>
                               <h5>None Available.</h5>
                           <%end%>
                         </div>
                         <div>
                           <%if(!@component.images.empty?)%>
                               <div class="tabs">
                                 <ul>
                                   <%for img in @component.images%>
                                       <li><a href=""><%=img.picture_file_name%></a></li>
                                   <%end%>
                                 </ul>
                                 <div>
                                   <%for img in @component.images%>
                                       <%@image = img%>
                                       <div><%= render("/images/show", :object => [@image]) %></div>
                                   <%end%>
                                 </div>
                               </div>
                           <%else%>
                               <h5>None Available.</h5>
                           <%end%>
                         </div>
                         <div>
                           <%if(!@component.data_files.empty?)%>
                               <div class="tabs">
                                 <ul>
                                   <%for df in @component.data_files%>
                                       <li><a href=""><%=df.filedata_file_name%></a></li>
                                   <%end%>
                                 </ul>
                                 <div>
                                   <%for df in @component.data_files%>
                                       <%@data_file = df%>
                                       <div><%= render("/data_files/show", :object => [@data_file]) %></div>
                                   <%end%>
                                 </div>
                               </div>
                           <%else%>
                               <h5>None Available.</h5>
                           <%end%>
                         </div>
                       </div>
                     </div>
                   </div>
               <%end%>
               <div><%= render("/components/new", :action => "new", :controller => ComponentsController)%></div>
             </div>
           </div>
           <%else%>
       <h5>None Available.</h5>
       <%end%>
     </div>
     <div>
       <%if(!@product_properties.nil?)%>
           <div class="tabs">
             <ul>
               <%for properties in @product_properties%>
                   <li><a href=""><%=properties.name%></a></li>
               <%end%>
             </ul>
             <div>
               <%for property in @product_properties%>
                   <%@property = property%>
                   <div><%= render("/properties/show", :object => [@property]) %></div>
               <%end%>
             </div>
           </div>
           <%else%>
       <h5>None Available.</h5>
       <%end%>
     </div>
     <div>
       <%if(!@product_valuefields.nil?)%>
           <div class="tabs">
             <ul>
               <%for valuefield in @product_valuefields%>
                   <li><a href=""><%=valuefield.name%></a></li>
               <%end%>
             </ul>
             <div>
               <%for valuefield in @product_valuefields%>
                   <%@valuefield = valuefield%>
                   <div><%= render("/valuefields/show", :object => [@valuefield]) %></div>
               <%end%>
             </div>
           </div>
           <%else%>
       <h5>None Available.</h5>
       <%end%>
     </div>
     <div>
       <%if(!@product_images.nil?)%>
           <div class="tabs">
             <ul>
               <%for image in @product_images%>
                   <li><a href=""><%=image.picture_file_name%></a></li>
               <%end%>
             </ul>
             <div>
               <%for image in @product_images%>
                   <%@image = image%>
                   <div><%= render("/images/show", :object => [@image]) %></div>
               <%end%>
             </div>
           </div>
           <%else%>
       <h5>None Available.</h5>
       <%end%>
     </div>
     <div>
       <%if(!@product_datafiles.nil?)%>
           <div class="tabs">
             <ul>
               <%for datafile in @product_datafiles%>
                   <li><a href="" class="xl"><%=datafile.filedata_file_name%></a></li>
               <%end%>
             </ul>
             <div>
               <%for datafile in @product_datafiles%>
                   <%@data_file = datafile%>
                   <div><%= render("/data_files/show", :object => [@data_file]) %></div>
               <%end%>
             </div>
           </div>
           <%else%>
       <h5>None Available.</h5>
       <%end%>
     </div>
   </div>
 </div>
   </div>

   <script type="text/javascript">

   jQuery(function($) {

       //$('#new_category')[0].setAttribute("data-remote", "true");

       width = Number($('div.tabs2').width());
       ulWidth = Number($('div.tabs2 > ul').width());
       $('div.tabs2 > div').width(width - ulWidth -1);


   });
   </script>

