<h1 class="title_header">Product: <%= @product.name %></h1>

<!--Page Container -->
<div class="inner_container">
<div><%= render "products/show" %></div>
<!-- Tabs for directly related objects to the Product -->
<div class="tabs">
<ul>
  <li><a class="l" href="">Components</a></li>
  <li><a class="l" href="">Properties</a></li>
  <li><a class="l" href="">Value Fields</a></li>
  <li><a class="l" href="">Images</a></li>
  <li><a class="l" href="">Data Files</a></li>
</ul>
<div>
<div>
  <%= render :partial=>"admin/components_tabs", :locals => {:parent => @product}%>
</div>
<div>
  <!-- Tabs for directly related Properties to the Product -->
  <div class="tabs">
    <% if (!@product_properties.empty?) %>
        <ul>
          <% for properties in @product_properties %>
              <li><a href=""><%= properties.name %></a></li>
          <% end %>
        </ul>
        <div>
          <% for property in @product_properties %>
              <% @property = property %>
              <div><%= render("/properties/show", :object => [@property]) %></div>
          <% end %>
        </div>
    <% else %>
        <h5>None Available.</h5>
    <% end %>
  </div>
</div>
<div>
  <!-- Tabs for directly related ValueFields to the Product -->
  <div class="tabs">
    <% if (!@product_valuefields.empty?) %>
        <ul>
          <% for valuefield in @product_valuefields %>
              <li><a href=""><%= valuefield.name %></a></li>
          <% end %>
        </ul>
        <div>
          <% for valuefield in @product_valuefields %>
              <% @valuefield = valuefield %>
              <div><%= render("/valuefields/show", :object => [@valuefield]) %></div>
          <% end %>
        </div>
    <% else %>
        <h5>None Available.</h5>
    <% end %>
  </div>
</div>
<div>
  <!-- Tabs for directly related Images to the Product -->
  <div class="tabs">
    <% if (!@product_images.empty?) %>
        <ul>
          <% for image in @product_images %>
              <li><a href=""><%= image.picture_file_name %></a></li>
          <% end %>
        </ul>
        <div>
          <% for image in @product_images %>
              <% @image = image %>
              <div><%= render("/images/show", :object => [@image]) %></div>
          <% end %>
        </div>
    <% else %>
        <h5>None Available.</h5>
    <% end %>
  </div>
</div>
<div>
  <!-- Tabs for directly related Data Files to the Product -->
  <div class="tabs">
    <% if (!@product_datafiles.empty?) %>
        <ul>
          <% for datafile in @product_datafiles %>
              <li><a href="" class="xl"><%= datafile.filedata_file_name %></a></li>
          <% end %>
        </ul>
        <div>
          <% for datafile in @product_datafiles %>
              <% @data_file = datafile %>
              <div><%= render("/data_files/show", :object => [@data_file]) %></div>
          <% end %>
        </div>
    <% else %>
        <h5>None Available.</h5>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
    jQuery(function($) {
        //$('#new_category')[0].setAttribute("data-remote", "true");

        $('div.tabs2 > ul > li > a').live('click',function () {

            if($(this).attr("href") != ""){
                $.get("/admin/load_component_tab", {item: $(this).attr("href")}, null, 'script');
            }

            return false;
        });

        $(".content").hide();
        //toggle the componenet with class msg_body
        $(".heading").click(function() {
            $(this).next(".content").slideToggle(1200).scroll();
        });

        $('div.tabs2').each(function(){
            width = Number($(this).width());
            ulWidth = Number($(this).find(' > ul').width());
            $(this).find(' > div').width(width - ulWidth - 1);
        });


    });

    function cleanUp(id){
        pane = $("#"+id);

        pane.find('div.tabs').each(function(){
           $(this).find('ul:first').tabs($(this).find('div:first > div'));
        });

        pane.find('div.tabs2').each(function(){
           $(this).find('ul:first').tabs($(this).find('div:first > div'));
        });

        pane.find(".content").hide();
        //toggle the componenet with class msg_body
        pane.find(".heading").click(function() {
            $(this).next(".content").slideToggle(1200).scroll();
        });



        //$("html").addClass("js");
        //$.fn.accordion.defaults.container = false;

        pane.find(".accordion").accordion();

        //$("html").removeClass("js");


        adjustWidth(id);

    }

    function adjustWidth(id) {

        item = $("#"+id);

        item.find('div.tabs2').each(function(){
            width = Number($(this).width());
            ulWidth = Number($(this).find(' > ul').width());
            $(this).find(' > div').width(width - ulWidth - 1);
        });


    }
</script>


