<h1>Listing value_fields</h1>

<table>
  <tr>
    <th>Field value</th>
    <th>Attribute</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @value_fields.each do |value_field| %>
  <tr>
    <td><%= value_field.field_value %></td>
    <td><%= value_field.attribute_id %></td>
    <td><%= value_field.product_id %></td>
    <td><%= link_to 'Show', value_field %></td>
    <td><%= link_to 'Edit', edit_value_field_path(value_field) %></td>
    <td><%= link_to 'Destroy', value_field, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Value field', new_value_field_path %>
