<p id="notice"><%= notice %></p>

<p>
  <b>Field value:</b>
  <%= @value_field.field_value %>
</p>

<p>
  <b>Attribute:</b>
  <%= @value_field.attribute_id %>
</p>

<p>
  <b>Product:</b>
  <%= @value_field.product_id %>
</p>


<%= link_to 'Edit', edit_value_field_path(@value_field) %> |
<%= link_to 'Back', value_fields_path %>
