<%= form_for(@group) do |f| %>
    <% if @group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

          <ul>
            <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
     <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Name</th>
      </tr>
      <tr>
        <td style="width: 200px">
          <div class ="field">
            <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>

      </tr>
    </table>
       </div>
    <br class="clear" />
          <div class="right_div">
        <input type="reset" />
            <%= f.submit :class => "submit"%>
          </div>
<%end%>