<p id="notice"><%# notice %></p>
 <h1>Viewing Groups</h1>
<div class="main_div">
<table class ="main_table">
  <tr>
    <th align="left">Name</th>
  </tr>
  <tr>
    <td><%= @group.name %></td>
  </tr>
</table>


<!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Associations</a></li>
</ul>
<!-- tab "panes" -->
<div class="panes">
  <div>
<% components = @group.components %>
<table>
  <tr><th>Components related to this Group</th></tr>
  <%if(!components.empty?)%>
  <% for comp in components %>
    <tr><td><%= link_to(comp.name, comp) %></td></tr>
      <%end%>
      <%else%>
          <tr><td>No components available</td></tr>
      <%end%>
    <tr><td><%=button_to "New Component", new_component_path, :method => :get%></td></tr>

</table>
    </div>
  </div>
  </div>
<div class="right_div">
  <%= button_to "Edit Group", edit_group_path(@group), :method => :get %>
  <%=button_to "Delete Group", {:controller => :groups, :action => "destroy", :id => @group.id }, :confirm => "Are You sure?", :method => :delete%>

</div>
<br class="clear" />