<%= form_for(@property) do |f| %>
    <% if @property.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

          <ul>
            <% @property.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Field Type</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :description, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :field_type, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
      </tr>
    </table>
     </div>

          <div class="right_div">
        <input type="reset" />
            <%= f.submit :class => "submit"%>
          </div>
<%end%>
<br class="clear" />