 <p id="notice"><%# notice %></p>
 <h1>Viewing Property: <%=@property.name%></h1>
 <div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">field type</th>
  </tr>
  <tr>
    <td><%= @property.name %></td>
    <td><%= @property.description %></td>
    <td><%= @property.field_type %></td>
  </tr>
</table>
<% vf = @property.valuefields %>
<table>
  <tr><th>Value Fields related to <%=@property.name%></th></tr>
  <%if(!vf.empty?)%>
  <% for v in vf %>
    <tr><td><%= link_to(v.fieldvalue, v) %></td></tr>
 <%end%>
      <%else%>
          <tr><td>No valuefields available</td></tr>
      <%end%>
  <tr><td>
    <%#button_to "New Valuefield", new_valuefield_path, :method => :get%>
    <input type="submit" value="New Valuefield" id="submit_button"/>
  </td></tr>
</table>
   </div>
   <div class="right_div">
     <%= button_to "Edit Property", edit_property_path(@property), :method => :get %>
     <%=button_to "Delete Property", {:controller => :properties, :action => "destroy", :id => @property.id }, :confirm => "Are You sure?", :method => :delete%>
   </div>
<br class="clear" />

 <script type="text/javascript">

    jQuery(function($) {
         $('#submit_button').click(function () {
            $.get("/valuefields/new", {property_id: "<%=@property.id%>"}, null);
            return false;
        });
    });
 </script>


