<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @property.type %>
</p>

<p>
  <b>Value:</b>
  <%= @property.value %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
