<% @items_to_select = (@data_file.products + @data_file.components + @data_file.valuefields) %>
<div class="pop_container">
  <%data_file = @data_file%>
  <h1>Editing <%= @df_alias %>: <%=data_file.filedata_file_name%></h1>
  <%= form_for(data_file, :remote => true) do |f| %>
      <% if data_file.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(data_file.errors.count, "error") %> prohibited this <%= @df_alias %> from being saved:</h2>
            <ul>
              <% data_file.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="inner_pop_container">
        <table>
          <tr>
            <th align="left"><%= @df_alias %></th>
            <th align="left">Change <%= @df_alias %></th>
          </tr>
          <tr>
            <td>
              <%if(!data_file.id.nil?)%>
                  <div class align="field">
                    <%=text_field_tag("", data_file.filedata_file_name, :id => "fn", :size => 30, :disabled => true) %>
                  </div>
              <%end%>
            </td>
            <td style="width: 325px">
              <div class ="field" style="padding-bottom: 10px">
                <%= f.file_field(:filedata, :id => "fd") %>
              </div>

            </td>
          </tr>
        </table>
        <table>
          <tr>
            <th align="left"><%= @product_alias %> / <%= @component_alias %></th>
            <th align="left"><%= @vf_alias %></th>
          </tr>
          <tr>
            <td>
              <div class="field">
                <%= checkbox_accord(all_prod_comp_hash).html_safe%>
              </div>
            </td>
            <td>
              <div class="field">
                <%= checkbox_accord(all_prop_vf_hash).html_safe%>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <br class="clear" />
      <div class="right_div">
        <input type="reset" />
        <%= f.submit "Update #{@df_alias}", :class => "submit"%>
      </div>
  <% end %>
</div>
<h5>Required fields are marked with <span style="color: red">*</span></h5>

<!--Script used to remove current image from edit page when user file_field input changes -->
<script type="text/javascript">
    jQuery(function($){
        $('#fd').change(function(){
            $('#fn').remove();
        });

        //Expand/Collapse javascript
        $(".content_main_menu").hide();
        $(".heading_main_menu").unbind('click');
        //toggle the componenet with class msg_body
        $(".heading_main_menu").click(function() {
            $(this).next(".content_main_menu").slideToggle(500).scroll();
        });

        $("html").addClass("js");
        $('input').filter(function(){return $(this).is(':checked');}).parent().parentsUntil('div','li').addClass("expand");
        $.fn.accordion.defaults.container = false;
        $(function() {
        $(".accordion").accordion();
        });
    })
</script>