<%= form_for(@data_file, :html => { :multipart => true }) do |f| %>
    <% if @data_file.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@data_file.errors.count, "error") %> prohibited this data file from being saved:</h2>

          <ul>
            <% @data_file.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tr>
        <th align="left">Select Data File:</th>
        <th align="left">Products</th>
        <th align="left">Components</th>
        <th align="left">Valuefields</th>
      </tr>
      <tr>
        <td style="width: 200px">
          <div class ="field" style="padding-bottom: 10px">
            <%= f.file_field(:filedata, :id => "fd") %>
          </div>
          <div class align="field">
            <%=text_field_tag("", @data_file.filedata_file_name, :id => "fn", :size => 30) %>
          </div>
        </td>
        <td>
          <%if(!@all_products.empty?)%>
              <div class="field">
                <select size="5" name="data_file[product_id]" style="width: 200px">
                  <% for prod in @all_products %>
                      <option value="<%= prod.id %>" <%= "selected=\"true\"" if @product == prod%>>
                        <%= prod.name %>
                      </option>
                  <% end %>
                </select>
              </div>
          <%else%>
              None Available.
          <%end%>
        </td>
        <td>
          <%if(!@all_components.empty?)%>
              <div class="field">
                <select size="5" name="data_file[component_id]" style="width: 200px">
                  <% for comp in @all_components %>
                      <%= components_select_table(comp, 0).html_safe %>
                  <% end %>
                </select>
              </div>
          <%else%>
              None Available.
          <%end%>
        </td>
        <td>
          <%if(!@all_valuefields.empty?)%>
              <div class="field">
                <select size="5" name="data_file[valuefield_id]" style="width: 200px">
                  <%for vf in @all_valuefields %>
                      <option value=<%= vf.id%> <%= "selected=\"true\"" if @valuefield == vf%>>
                        <%= vf.fieldvalue %>
                      </option>
                  <% end %>
                </select>
              </div>
          <%else%>
              None Available.
          <%end%>
        </td>


</tr>
</table>
<br class="clear" />
    <div class="actions">
            <%= f.submit %>
          </div>
<% end %>
<!--Script used to remove current image from edit page when user file_field input changes -->
<script type="text/javascript">
    jQuery(function($){
                $('#fd').change(
                        function(){
                            $('#fn').remove();
                        }
                )
            }
    )
</script>
