<p id="notice"><%# notice %></p>
<h1>Viewing Data File: <%=@data_file.filedata_file_name%></h1>
<div class="main_div">

<table class="main_table">
  <tr>
    <th align="left">Data File</th>
    <th align="left">Preview</th>
  </tr>
  <tr>
    <td valign="top"><%= @data_file.filedata_file_name %></td>
    <td><%= link_to("Preview Data File", @data_file.filedata.url, {:target => "blank"})%></td>
  </tr>
</table>
    <!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Associations</a></li>
</ul>
<!-- tab "panes" -->
<div class="panes">
  <div>
<%= print_product_table(@data_file).html_safe%>

<%= print_component_child_table(@data_file).html_safe%>

<%= print_value_field_table(@data_file).html_safe %>
  </div>
  </div>
  </div>
<div class="right_div">
    <%= button_to "Edit Data File", edit_data_file_path(@data_file), :method => :get %>
    <%=button_to "Delete Data File", {:controller => :data_files, :action => "destroy", :id => @data_file.id }, :confirm => "Are You sure?", :method => :delete%>
</div>


