

<div id="button_div" align="center">
   <button id="other_button" style="width:350px">Create by Component or Product</button>
  <%=button_to 'Create by Incremental Path', admin_addvalue_path, :style => "width:350px", :method => :get%>
</div>

<%= form_for(@valuefield) do |f| %>


    <% if @valuefield.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

          <ul>
            <% @valuefield.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div id="main_div" class="main_div">

<div id="property_div">
    <table class="main_table">
      <tr>
        <th align="left">Property</th>
        <th align="left">Value</th>
        <th align="left">Code</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <select name="property_id" style ="width: 90%">
              <%for prop in @all_properties%>
                  <option value= "<%=prop.id %>" <%=" selected = \"true\"" if @property == prop%>>
                    <%= prop.name%> (<%=prop.field_type%>)</option>
              <% end %>
            </select>&nbsp;<span style="color: red; vertical-align: top;">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :fieldvalue, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :code %>
          </div>
        </td>
      </tr>
    </table>
</div>
<div id="path_div">
    <table>
      <tr>
        <th align="left" colspan="3">Product Path</th>
      </tr>
      <tr>
        <td colspan="3">
          <div class ="field">
            <select name="path">
              <option selected="true"  value="-1">No Selection</option>
              <%=get_paths_as_select.html_safe%>
            </select>
          </div>
        </td>
      </tr>
  </table>
</div>



<div id="other_div">
  <table>
      <tr>
        <th align="left" colspan="3">Product or Component</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <select name="prod_comp_id" size = "10" multiple="multiple">
              <!--Product id is negative to differentiate from component-->
              <% parents = @components + @products


              for pc in @all_prods_comps %>
                  <option value= <%= pc.is_a?(Product) ? "#{(-pc.id)-1}" : pc.id %>
                    <%= "selected = \"true\"" if parents.include?(pc) %>>
                  <%= pc.name%> </option>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
      </table>
  </div>
      </div>
  <div id="submit_div" class="right_div">
     <%= f.submit :class => "submit"%>
  </div>


<%end%>
<br class="clear" />


<script type="text/javascript">
    jQuery(function($) {

        $('#property_div').hide();
        $('#other_div').hide();
        $('#path_div').hide();
        $('#button_div').hide();
        $('#submit_div').hide();
        $('#main_div').hide();

        if("<%= !@valuefield.path.nil? %>" == "true"){
            $('#path_div').show();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        } else if("<%= !@valuefield.products.empty? || !@valuefield.components.empty?  %>" == "true"){
            $('#other_div').show();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        } else {
            $('#button_div').show();
        }


        $('#path_button').click(function () {
            //$('#path_div').style.visibility="visible";// show/hide
            $('#path_div').show();
            $('#button_div').hide();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();

        });
        $('#other_button').click(function () {
            $('#other_div').show();
            $('#button_div').hide();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        });
    });



</script>