<%= form_for(@valuefield) do |f| %>
  <% if @valuefield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

      <ul>
      <% @valuefield.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fieldvalue %><br />
    <%= f.text_field :fieldvalue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
