<div id="button_div">
   <%=button_to 'Create by Incremental Path', admin_addvalue_path, :method => :get%>
   <button id="other_button">Create by Component or Product</button>
   <button id="path_button">Create by Path</button>
   </div>



<%= form_for(@valuefield) do |f| %>
    <% if @valuefield.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

          <ul>
            <% @valuefield.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div id="path_div">
    <table>
      <tr>
        <th align="left" colspan="3">Product Path</th>
      </tr>
      <tr>
        <td colspan="3">
          <div class ="field">
            <select name="path">
              <option selected="true"  value="-1">No Selection</option>
              <%=get_paths_as_select.html_safe%>
            </select>
          </div>
        </td>
      </tr>
  </table>
</div>



<div id="other_div">
  <table>
      <tr>
        <th align="left" colspan="3">Product or Component</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <select name="prod_comp_id">
              <option selected="true" value="-1">No Selection</option>
              <!--Product id is negative to differentiate from component-->
              <% parent_comp = @valuefield.component
                 parent_prod = @valuefield.product

                 for pc in @all_prods_comps %>
                  <option value= <%if(pc.is_a?(Product))%>"<%="#{(-pc.id)-1}"%>"
            <%else%>
                 "<%=pc.id%>"
            <%end%>
            <% if((parent_comp != nil && parent_comp.id == pc.id) ||
                    (parent_prod != nil && parent_prod.id == pc.id)) %>
              selected = true
            <% end %>>
            <%= pc.name%> </option>
              <% end %>
            </select>
          </div>
        </td>
      </tr>
      </table>
  </div>
    <div id="property_div">
    <table>
      <tr>
        <th align="left">Property</th>
        <th align="left">Value</th>
        <th align="left">Actions</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <select name="property_id">
              <%for prop in @all_properties %>
                  <option value= "<%=prop.id %>"<% if(@valuefield.property == prop) %>
                          selected = true;
                          <% end %> >
                    <%= prop.name%> (<%=prop.field_type%>)</option>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :fieldvalue %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit %>
          </div>
        </td>
      </tr>
    </table>
</div>
<%end%>
<br class="clear" />


<script type="text/javascript">
    jQuery(function($) {
        $('#other_div').hide();
        $('#path_div').hide();
        $('#property_div').hide();


        $('#path_button').click(function () {
            //$('#path_div').style.visibility="visible";// show/hide
            $('#path_div').show();
            $('#button_div').hide();
            $('#property_div').show();

        });
        $('#other_button').click(function () {
            $('#other_div').show();
            $('#button_div').hide();
            $('#property_div').show();
        });
    });



</script>