

<div id="button_div" align="center">
   <button id="other_button" style="width:350px">Create by Component or Product</button>
  <%=button_to 'Create by Incremental Path', admin_addvalue_path, :style => "width:350px", :method => :get%>
</div>

<%= form_for(@valuefield) do |f| %>


    <% if @valuefield.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

          <ul>
            <% @valuefield.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div id="main_div" class="main_div">

<div id="property_div">
    <table class="main_table">
      <tr>
        <th align="left">Property&nbsp;<span style="color: red">*</span></th>
        <th align="left">Value&nbsp;<span style="color: red">*</span></th>
        <th align="left">Code</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= radio_accord(all_property_hash, "value_field", true).html_safe %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :fieldvalue, :required => true %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :code %>
          </div>
        </td>
      </tr>
    </table>
</div>
<div id="path_div">
    <table>
      <tr>
        <th align="left" colspan="3">Product Path</th>
      </tr>
      <tr>
        <td colspan="3">
          <div class ="field">
            <select name="path">
              <option selected="true"  value="-1">No Selection</option>
              <%=get_paths_as_select.html_safe%>
            </select>
          </div>
        </td>
      </tr>
  </table>
</div>



<div id="other_div">
  <table>
      <tr>
        <th align="left" colspan="3">Product or Component</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= checkbox_accord(all_prod_comp_hash).html_safe  %>
          </div>
        </td>
      </tr>
      </table>
  </div>
      </div>
  <div id="submit_div" class="right_div">
        <input type="reset" />
     <%= f.submit :class => "submit"%>
  </div>


<%end%>
<h5>Required fields are marked with <span style="color: red">*</span></h5>
<br class="clear" />


<script type="text/javascript">
    jQuery(function($) {

        $('#property_div').hide();
        $('#other_div').hide();
        $('#path_div').hide();
        $('#button_div').hide();
        $('#submit_div').hide();
        $('#main_div').hide();

        if("<%= !@valuefield.path.nil? %>" == "true"){
            $('#path_div').show();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        } else if("<%= !@items_to_select.empty? || !@valuefield.products.empty? || !@valuefield.components.empty?  %>" == "true"){
            $('#other_div').show();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        } else {
            $('#button_div').show();
        }


        $('#path_button').click(function () {
            //$('#path_div').style.visibility="visible";// show/hide
            $('#path_div').show();
            $('#button_div').hide();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();

        });
        $('#other_button').click(function () {
            $('#other_div').show();
            $('#button_div').hide();
            $('#property_div').show();
            $('#submit_div').show();
            $('#main_div').show();
        });
    });



</script>