<%= form_for(@valuefield) do |f| %>
    <% if @valuefield.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(@valuefield.errors.count, "error") %> prohibited this valuefield from being saved:</h2>

          <ul>
            <% @valuefield.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.label "Product or Component" %><br />
    <div class ="field">
      <select name="prod_comp_id[]">

<!--Product id is negative to differentiate from component-->
        <% parent_comp = @valuefield.component
           parent_prod = @valuefield.product

           for pc in @all_prods_comps %>
            <option value=
            <%if(pc.is_a?(Product))%>
                "<%="#{(-pc.id)-1}"%>"
            <%else%>
                 "<%=pc.id%>"
            <%end%>
            <% if((parent_comp != nil && parent_comp.id == pc.id) ||
                    (parent_prod != nil && parent_prod.id == pc.id)) %>
              selected = true
            <% end %>

                ><%= pc.name%> </option>
        <% end %>
      </select>
    </div>

    <%= f.label "Property" %><br />
    <div class ="field">
      <select name="property_id[]">


        <%for prop in @all_properties %>
            <option value= "<%=prop.id %>"<% if(@valuefield.property == prop) %>
                    selected = true;
                    <% end %> >
              <%= prop.name%> (<%=prop.field_type%>)</option>
        <% end %>
      </select>
    </div>


    <div class="field">
      <%= f.label "Value" %><br />
      <%= f.text_field :fieldvalue %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
