<h1>Listing valuefields</h1>

<table>
  <tr>
    <th>Fieldvalue</th>
    <th>Component or Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @all_properties.each do |prop| %>
      <tr>
        <td>
          <b><%=link_to prop.name, prop%></b>
        </td>
      </tr>
      <%for val in prop.valuefields %>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= val.fieldvalue %></td>
        <td><%= val.component != nil ? link_to(val.component.name, val.component) : link_to(val.product.name, val.product)%></td>
        <td><%= button_to "Show", {:action => "show", :id => val.id }, :method => :get %></td>
        <td><%= button_to 'Edit', edit_valuefield_path(val) , :method => :get%></td>
        <td><%= button_to "Delete", { :action => "destroy", :id => val.id }, :confirm => "Are You sure?", :method => :delete %></td>


      </tr>
    <% end %>
<% end %>
</table>

<br />

<%= button_to 'New Valuefield', new_valuefield_path, :method => :get %>
<br />
<%= button_to "Back to Main Menu", "/", :method => :get %>
