<p id="notice"><%# notice %></p>
 <h1>Viewing Valuefield: <%=@valuefield.fieldvalue%></h1>

<table>
  <tr>
    <th align="left">Value</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @valuefield.fieldvalue %></td>
    <td><%= @valuefield.code %></td>
    <td><%= button_to 'Edit Value Field', edit_valuefield_path(@valuefield), :method => :get %>
    <%=button_to "Delete Value Field", {:controller => :valuefields, :action => "destroy", :id => @valuefield.id }, :confirm => "Are You sure?", :method => :delete%></td>
  </tr>
</table>
<table>
  <tr>
    <th align="left">Properties related to <%=@valuefield.fieldvalue%>
  </tr>
  <tr>

    <%if(!@valuefield.property.nil?)%>
        <td><%property =  @valuefield.property %><%= link_to property.name, property %> </td>
    <%else%>
        <td>No Property Defined</td>
    <%end%>
  </tr>
</table>
<table>
<%products = @valuefield.products.sort!{|x,y| x.name <=> y.name}%>
       <tr>
         <th align="left">Products related to <%=@valuefield.fieldvalue%></th>
       </tr>
       <%if(!products.empty?) %>
      <%for product in products%>
        <tr>
           <%= link_to product.name, product %>
        </tr>
      <%end%>
      <%else%>
       <tr>
         <td>No Products </td>
       </tr>

      <%end%>
      </table>
      <table>
        <%components = @valuefield.components.sort!{|x,y| x.name <=> y.name}%>
      <tr>
        <th align="left">Components related to <%=@valuefield.fieldvalue%></th>
      </tr>
        <%if(!components.empty?)%>
            <%for component in components%>
        <tr>
          <td><%= link_to component.name, component %></td>
        </tr>
        <%end%>
        <%else%>
       <tr>
         <td>No Components </td>
       </tr>
            <%end%>
        </table>
<%if(components.empty? && products.empty?)
path = @valuefield.path%>
<table>
      <tr>
        <th align="left">Path related to <%=@valuefield.fieldvalue%></th>
      </tr>
        <tr>
          <td>
            <%if(!path.nil?)%>
            <%= id_path_to_name_path(path).html_safe%>
                <%else%>
            No Path
                <%end%>
          </td>
        </tr>
</table>
    <%end%>
<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Images related to <%=@valuefield.fieldvalue%></b></th>
  </tr>
      <%vfImages = @valuefield.images%>
      <%if(!vfImages.empty?)%>

          <%for ig in vfImages%>
             <tr><td> <%= link_to(image_tag(ig.picture(:small)), ig) %> </td></tr>
          <%end%>

      <%else%>
         <tr><td>No Images</td></tr>
      <%end%>
         <tr><td> <%= my_button_to "New Image", new_image_path, @valuefield %> </td></tr>
</table>


<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Data Files related to <%=@valuefield.fieldvalue%></b></th>
  </tr>
      <%dfs = @valuefield.data_files%>
      <%if(!dfs.empty?)%>
      <tr>
      <%for ig in dfs%>
         <td> <%= link_to ig.filedata_file_name, ig %> </td>
      <%end%>
       </tr>
      <%else%>
         <tr><td>No Files</td></tr>
      <%end%>
         <tr><td> <%= my_button_to "New File", new_data_file_path, @valuefield %> </td></tr>
</table>

