<p id="notice"><%= notice %></p>
 <h1>Viewing Valuefield: <%=@valuefield.fieldvalue%></h1>

<table>
  <tr>
    <th align="left">Value</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @valuefield.fieldvalue %></td>
    <td><%= @valuefield.code %></td>
    <td><%= button_to 'Edit Valuefield', edit_valuefield_path(@valuefield), :method => :get %></td>
  </tr>
</table>
<table>
  <tr>
    <th align="left">Properties related to <%=@valuefield.fieldvalue%>
  </tr>
  <tr>
    <td><%parent =  @valuefield.property %><%= link_to parent.name, parent %> </td>
  </tr>
</table>
<table>
<%products = @valuefield.products%>
       <tr>
         <th align="left">Products related to <%=@valuefield.fieldvalue%></th>
       </tr>
       <%if(!products.empty?) %>
        <tr>
           <%= link_to product.name, product %>
        </tr>
      <%end%>
      </table>
      <table>
      <tr>
        <th align="left">Components related to <%=@valuefield.fieldvalue%></th>
      </tr>
        <%if(!components.empty?)%>
        <tr>
          <td><%= link_to component.name, component %></td>
        </tr>
        <%end%>
        </table>
<%if(components.empty? && products.empty?)
path = @valuefield.path%>
<table>
      <tr>
        <th align="left">Path related to <%=@valuefield.fieldvalue%></th>
      </tr>
        <tr>
          <td>
            <%= id_path_to_name_path(path).html_safe%>
          </td>
        </tr>
</table>
    <%end%>
<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Images related to <%=@valuefield.fieldvalue%></b></th>
  </tr>
  <% if(!@all_images.empty?) %>
      <%vfImages = []%>
    <%for img in @all_images %>
          <%if(@valuefield.id == img.valuefield_id)%>
              <%vfImages.push(img)%>
          <%end%>
    <%end%>
  <%end%>
      <%if(!vfImages.empty?)%>
      <tr>
      <%for ig in vfImages%>
         <td> <%= link_to(image_tag(ig.picture(:small)), ig) %> </td>
      <%end%>
       </tr>
      <%else%>
         <tr><td>No Images</td></tr>
      <%end%>
         <tr><td> <%= button_to "New Image", new_image_path %> </td></tr>
</table>


