<p id="notice"><%= notice %></p>

<p>
  <b>Property:</b>
  <%parent =  @valuefield.property %>
  <%= link_to parent.name, parent %>
  (<%= parent.field_type %>)
</p>
<p>
  <b>Value:</b>
  <%= @valuefield.fieldvalue %>
</p>

<p/>

<%
   product = @valuefield.product
   component = @valuefield.component
   if(product != nil) %>

    Product:  <br/>
<%= link_to product.name, product %>
              <%else%>
    Component:<br/>
<%= link_to component.name, component %>
<%end%>

<p/>
<table>
  <tr>
    <td>
      <%= button_to 'Edit', edit_valuefield_path(@valuefield), :method => :get %>
    </td>
    <td>
       <%= button_to 'Back', valuefields_path, :method => :get %>
    </td>
  </tr>
</table>


