<p id="notice"><%= notice %></p>

<p>
  <b>Attribute:</b>
  <%parent =  @valuefield.attribute %>
  <%= parent.name %>
  (<%= parent.field_type %>)
</p>
<p>
  <b>Value:</b>
  <%= @valuefield.fieldvalue %>
</p>


<%= link_to 'Edit', edit_valuefield_path(@valuefield) %> |
<%= link_to 'Back', valuefields_path %>
