<p id="notice"><%= notice %></p>
 <h1>Viewing Valuefield</h1>

<p>
  <b>Property:</b>
  <%parent =  @valuefield.property %>
  <%= link_to parent.name, parent %>
  (<%= parent.field_type %>)
</p>
<p>
  <b>Value:</b>
  <%= @valuefield.fieldvalue %>
</p>

<p/>

<%
   product = @valuefield.product
   component = @valuefield.component
   path = @valuefield.path
   if(product != nil) %>

    Product:  <br/>
<%= link_to product.name, product %>
              <%elsif(component!=nil)%>
    Component:<br/>
<%= link_to component.name, component %>
    <%else%>
    Path:<br/>
    <%= id_path_to_name_path(path).html_safe%>
<%end%>

<p/>
<table>
  <tr>
    <td>
      <%= button_to 'Edit', edit_valuefield_path(@valuefield), :method => :get %>
    </td>
  </tr>
</table>


