<p id="notice"><%# notice %></p>
 <h1>Viewing Value Field: <%=@valuefield.fieldvalue%></h1>
<div class="inner_container_show">
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Value</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @valuefield.fieldvalue %></td>
    <td><%= @valuefield.code %></td>
    <td>
      <%= link_to image_tag("duplicate.png"), new_valuefield_path + "?duplicate_valuefield=#{@valuefield.id}", :title=>"Duplicate"%>
      &nbsp
      <%= image_tag "edit-icon.png", :title=>"Edit", :rel=>"#overlay", :style =>"cursor:pointer"%>
      <div class="apple_overlay" id="overlay">
        <h1>Editing Validation: <%=@valuefield.fieldvalue%></h1>
        <%= render 'form' %>
      </div>
    &nbsp
    <%= link_to image_tag("delete-icon.png"), {:controller => :valuefields, :action => "destroy",  :id => @valuefield.id }, :title=>"Delete", :confirm => "Are You sure?", :method => :delete%>
      
    </td>
  </tr>
</table>
  <div class="tabs">
   <!-- the tabs -->
  <ul>
    <li><a href="#">Products</a></li>
    <li><a href="#">Properties</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Path</a></li>
    <li><a href="#">Images</a></li>
    <li><a href="#">Data Files</a></li>
  </ul>

  <!-- tab "panes" -->
  <div class="panes">


    <div> <!--pane 1 -->

  <%= print_products_table(@valuefield).html_safe %>
      </div>
    <div>
  <%= print_property_table(@valuefield).html_safe %>
  </div>
    <div>
  <%= print_components_table(@valuefield).html_safe %>
  </div>
    <div>
<%if(@valuefield.components.empty? && @valuefield.products.empty?)%>
<%= print_path_table(@valuefield).html_safe %>
          <%else%>
      <table>
        <tr>
          <th>
            Path
          </th>
        </tr>
        <tr>
          <td>
            No Path
          </td>
        </tr>
      </table>
    <%end%>
      </div>
    <div>

  <%= print_images_table(@valuefield).html_safe %>
    </div>
    <div>
  <%= print_datafiles_table(@valuefield).html_safe %>
         </div>
    </div>
    </div>
</div>

    </div>

<script>
    // What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
    $(document).ready(function() {

        $("img[rel]").overlay({
        			// common configuration for each overlay
        			oneInstance: false,
        			closeOnClick: true,

        			// setup custom finish position
        			//top: positions[i][0],
        			//left: positions[i][1],

        			// use apple effect
        			mask: 'lightblue',
                    effect: 'apple',

        		onBeforeLoad: function() {

        			// grab wrapper element inside content
        			var wrap = this.getOverlay().find(".contentWrap");

        			// load the page specified in the trigger
        			wrap.load(this.getTrigger().attr("href"));
        		}
        });
    });
</script>