<p id="notice"><%# notice %></p>
 <h1>Viewing Category: <%=@category.name%></h1>
<table>
  <tr>
    <th align="left">Category Name:</th>
    <th align="left">Parent of <%=@category.name%></th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td><%= @category.name %></td>
    <td><%if(!@parent.nil?)%><%= link_to @parent.name, @parent %><%end%></td>
    <td><%= button_to "Edit Category", edit_category_path(@category), :method => :get %>
    <%=button_to "Delete Category", {:controller => :categories, :action => "destroy", :id => @category.id }, :confirm => "Are You sure?", :method => :delete%></td>
  </tr>
</table>


<h4> Products related to <%=@category.name%> </h4>
<% for cat in @all_categories %>
 <% srp = print_related_products(cat) %>
<%end%>

<table>
    <%= srp.html_safe %>
</table>
<form method="get" action="/products/new"  class="button_to">
                <div><input type="submit" value="New Product" /></div>
                     <input type="hidden" name="category_id" value="<%=@category.id%>"/>
               </form>
<br class="clear" />
