<%= form_for(@validation) do |f| %>
  <% if @validation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@validation.errors.count, "error") %> prohibited this validation from being saved:</h2>

      <ul>
      <% @validation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Extension</th>
        <th align="left">Extension Type</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= f.text_field :extension, :required => true%>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
             <%= select_tag "kind", raw("<option>Image</option><option>Data File</option>".html_safe) %>&nbsp;<span style="color: red; vertical-align: top;">*</span>
          </div>
        </td>
    </tr>
</table>
   </div>

          <div class="right_div">
        <input type="reset" />
            <%= f.submit :class => "submit"%>
          </div>
<% end %>
<br class="clear" />
