<p id="notice"><%#notice %></p>
<h1>Viewing Validation: <%=@validation.extension%></h1>
<div class="inner_container_show">
<div class="main_div">
<table>
  <tr>
    <th align="left">Extension</th>
    <th align="left">Extension Type</th>
  </tr>
  <tr>
    <td valign="top"><%= @validation.extension %></td>
     <td valign="top"><%= @validation.kind %></td>
  </tr>
</table>
  </div>
  </div>
  <div class="right_div">
 <%= button_to "Edit Validation", edit_validation_path(@validation), :method => :get %>
    <%=button_to "Delete Validation", {:controller => :validations, :action => "destroy", :id => @validation.id }, :confirm => "Are You sure?", :method => :delete%>
  </div>