<p id="notice"><%#notice %></p>
<h1>Viewing <%= @validation_alias %>: <%=@validation.extension%></h1>
<div class="inner_container_show">
<div class="main_div">
  <table class="main_table">
    <tr>
        <th align="left">Extension</th>
        <th align="left">Extension Type</th>
        <th align="left">Actions</th>
    </tr>
    <tr>
        <td valign="top"><%= @validation.extension %></td>
         <td valign="top"><%= @validation.kind %></td>
      <td>
        <%= link_to image_tag("duplicate.png"), new_validation_path + "?duplicate_validation=#{@validation.id}", :title=>"Duplicate"%>
        &nbsp
        <%= image_tag "edit-icon.png", :title=>"Edit", :rel=>"#overlay", :style =>"cursor:pointer"%>
        <div class="apple_overlay" id="overlay">
          <h1>Editing <%= @validation_alias %>: <%=@validation.extension%></h1>
          <%= render 'form' %>
        </div>
      &nbsp
      <%= link_to image_tag("delete-icon.png"), {:controller => :validations, :action => "destroy",  :id => @validation.id }, :title=>"Delete", :confirm => "Are You sure?", :method => :delete%>
      </td>
    </tr>
  </table>
  </div>
  </div>

<script>
    // What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
    $(document).ready(function() {

        $("img[rel]").overlay({
        			// common configuration for each overlay
        			oneInstance: false,
        			closeOnClick: true,

        			// setup custom finish position
        			//top: positions[i][0],
        			//left: positions[i][1],

        			// use apple effect
        			mask: 'lightblue',
                    effect: 'apple',

        		onBeforeLoad: function() {

        			// grab wrapper element inside content
        			var wrap = this.getOverlay().find(".contentWrap");

        			// load the page specified in the trigger
        			wrap.load(this.getTrigger().attr("href"));
        		}
        });
    });
</script>