<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
     <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Code</th>
        <th align="left">Categories</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :description, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :code %>
          </div>
        </td>
        <td>
          <div class="field">
            <%if(@all_categories.length < 2)%>
                <br/> No Categories available
            <%else%>
                <select size="5" multiple="multiple" name="new_categories_ids[]" style="width: 100px"  class="required">
                  <% for cat in @all_categories
                         if (cat.parent_id == nil)
                             next
                         end %>
                      <option
                      value="<%= cat.id %>"
                      <% if (@associated_categories.include?(cat)) %> selected=true <% end %>>
                        <%= cat.name %>
                      </option>
                  <% end %>
                </select>&nbsp;<span style="color: red; vertical-align: top;">*</span>
            <%end%>
          </div>
        </td>
</tr>
</table>
</div>
<div class="right_div">
            <%= f.submit :class => "submit"%>
          </div>
<% end %>
<br class="clear" />
