<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
     <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Code</th>
      </tr>
      <tr>
        <td>
          <div class ="field">
            <%= f.text_field :name, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :description, :required => true %>&nbsp;<span style="color: red">*</span>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :code %>
          </div>
        </td>

</tr>
</table>
       <table>
         <tr>
        <th align="left">Categories</th>
             </tr>
         <tr>
           <td>
          <div class="field">
                <%= checkbox_accord(all_category_hash).html_safe %>
                &nbsp;<span style="color: red; vertical-align: top;">*</span>

          </div>
        </td>
         </tr>
       </table>
</div>
<div class="right_div">
        <input type="reset" />
            <%= f.submit :class => "submit"%>
          </div>
<% end %>
<br class="clear" />
