<div>
  <table class="tight_table main_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
      <th align="left">Actions</th>
    </tr>
    <tr>
      <td valign="top"><%= @product.name %></td>
      <td valign="top"><%= @product.description %></td>
      <td valign="top"><%= @product.code %></td>
      <td>
        <div>
          <!-- external page is given in the href attribute (as it should be) -->
            <a href="#" rel="#overlay_product" style="text-decoration:none" class="overlay" value="Edit Product">
                <!-- remember that you can use any element inside the trigger -->
              <%= image_tag "edit-icon.png", :title=>"Edit"%>
            </a>

            <div class="apple_overlay" id="overlay_product">
                <%#render("products/edit", :id => @product.id) %>
            </div>
          &nbsp
            <%= link_to image_tag("delete-icon.png"), {:controller => :products, :action => "destroy", :id => @product.id }, :confirm => "Are You sure?", :title=>"Delete", :method => :delete%>
          &nbsp
            <%= link_to image_tag("open_in_new_window.png"),"/tabs/products/#{@product.id}", :title => "Open in new window" %>
        </div>
      </td>
    </tr>
  </table>
  <div class="layer1">
    <p class="heading">Click Here To Expand/Collapse Detailed <%= @product_alias %> Information</p>
    <div class="content">
      <div class="inner_scroll_div">
      <table class="tight_table">
        <tr>
          <td><%= print_parent_categories_table(@product).html_safe %></td>

          <td><%= print_properties_table(@product, false).html_safe %></td>
        </tr>
        <tr>
          <td><%= print_images_table(@product, false).html_safe %></td>

          <td><%= print_datafiles_table(@product, false).html_safe %></td>
        </tr>
        <tr>
          <td colspan="2"><%= print_components_table(@product, false).html_safe %></td>
        </tr>
      </table>
        </div>
    </div>
  </div>
</div>


