<div>
  <table class="tight_table main_table">
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Code</th>
      <th align="left">Actions</th>
    </tr>
    <tr>
      <td valign="top"><%= @product.name %></td>
      <td valign="top"><%= @product.description %></td>
      <td valign="top"><%= @product.code %></td>
      <td>
        <div>
          <%# button_to "Edit Product", edit_product_path(@product), :method => :get %>
          <!-- external page is given in the href attribute (as it should be) -->
            <a href="#" rel="#overlay_product" style="text-decoration:none">

                <!-- remember that you can use any element inside the trigger -->
                <%# button_to "Edit Product", {  :controller => :products, :action => "edit"}, :method => :edit, :object => @product %>

              <input type="button" value="Edit Product"/>

            </a>

            <div class="apple_overlay" id="overlay">
                <%#render("products/edit", :id => @product.id) %>
            </div>

          <%= button_to "Delete Product", {:controller => :products, :action => "destroy", :id => @product.id }, :confirm => "Are You sure?", :method => :delete%>
        </div>
      </td>
    </tr>
  </table>
  <div class="layer1">
    <p class="heading">Click Here To Expand/Collapse Detailed Product Information</p>
    <div class="content">
      <div class="inner_scroll_div">
      <table class="tight_table">
        <tr>
          <td><%= print_parent_categories_table(@product).html_safe %></td>

          <td><%= print_properties_table(@product, false).html_safe %></td>
        </tr>
        <tr>
          <td><%= print_images_table(@product, false).html_safe %></td>

          <td><%= print_datafiles_table(@product, false).html_safe %></td>
        </tr>
        <tr>
          <td colspan="2"><%= print_components_table(@product, false).html_safe %></td>
        </tr>
      </table>
        </div>
    </div>
  </div>
</div>

<!--<script type="text/javascript">
   jQuery(function($) {
     // if the function argument is given to overlay,
	// it is assumed to be the onBeforeLoad event listener
	var triggers = $("a[rel]").overlay({

		mask: 'lightblue',
		effect: 'apple',

		onBeforeLoad: function() {

			// grab wrapper element inside content
			var wrap = this.getOverlay().find(".contentWrap");

			// load the page specified in the trigger
			wrap.load(this.getTrigger().attr("href"));
		}
	});

    //On Submit closes pop up window and reloads div tag
      $("#overlay").submit(
              function(){
                triggers.overlay().close();
              }
      );
   });
</script>-->
