<p id="notice"><%# notice %></p>
<h1>Viewing Product: <%=@product.name%></h1>
<div class="inner_container_show">
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td valign="top"><%= @product.code %></td>
  </tr>
</table>
  <div class="tabs">
    <ul>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">Value Fields</a></li>
      <li><a href="#">Images</a></li>
      <li><a href="#">Data Files</a></li>
    </ul>
    <div>
      <div>
        <%= print_parent_categories_table(@product).html_safe %>
    </div>
      <div>
        <%= print_components_table(@product).html_safe %>
    </div>
      <div>
        <%= print_properties_table(@product).html_safe %>
    </div>
      <div>
        <%= print_images_table(@product).html_safe %>
    </div>
      <div>
        <%= print_datafiles_table(@product).html_safe %>
      </div>
  </div>
    </div>
  <br/>
</div>
</div>
<div class="right_div">
  <%= button_to "Edit Product", tab_product_path, :product => @product, :method => :get %>
  <%= button_to "Delete Product", {:controller => :products, :action => "destroy", :id => @product.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Product", new_product_path + "?duplicate_product=#{@product.id}"%>
</div>