<p id="notice"><%# notice %></p>
<h1>Viewing Product: <%=@product.name%></h1>
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td valign="top"><%= @product.code %></td>
  </tr>
</table>


    <%= print_parent_categories_table(@product).html_safe %>

    <%= print_components_table(@product).html_safe %>

    <%= print_properties_table(@product).html_safe %>

    <%= print_images_table(@product).html_safe %>

    <%= print_datafiles_table(@product).html_safe %>


  <br/>
</div>
<div class="right_div">
  <%= button_to "Edit Product", edit_product_path(@product), :method => :get %>
  <%= button_to "Delete Product", {:controller => :products, :action => "destroy", :id => @product.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Product", new_product_path + "?duplicate_product=#{@product.id}"%>
</div>