<p id="notice"><%= notice %></p>

  <table>
  <tr>
    <th align="left">Name:</th>
    <th align="left">Description:</th>
    <th align="left">Categories:</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td><table>
      <% @associated_categories = @product.categories
        for cat in @associated_categories%>
          <tr><td><%= cat.name %></td></tr>
          <% end %>
        </table>
    </td>
  </tr>
  <tr><td><p></p></td></tr>
  <tr>
    <td>
     <%= button_to "Edit", edit_product_path(@product), :method => :get %>
    </td>
    <td>
     <%= button_to "Back", products_path, :method => :get %>
    </td>
  </tr>
</table>