<p id="notice"><%# notice %></p>
<h1>Viewing Product: <%=@product.name%></h1>
<div class="main_div">

<table class="main_table">
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td valign="top"><%= @product.code %></td>
  </tr>
</table>
<!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Associations</a></li>
	<li><a href="#">Attachments</a></li>
</ul>
<!-- tab "panes" -->
<div class="panes">
  <div>
<table style="padding-top: 15px">
  <tr>
  <th align="left">Related Categories</th>
    </tr>
  <% if(!@product.categories.empty?)
     for cat in  @product.categories.sort {|x,y| x.name <=> y.name }%>
      <tr><td><%= link_to cat.name, cat %></td></tr>
  <% end %>
      <%else%>
      <tr><td>No Categories</td><td></td></tr>
<%end%>
</table>



    <%= print_component_child_table(@product).html_safe %>

    <%= print_properties_table(@product).html_safe %>


<%= button_to "New Property", new_property_path, :method => :get %>
    <br/>
</div>
  <div>



<table style="padding-top: 15px">
  <tr>
    <th align="left">Related Images</th>
  </tr>
  <% if(!@product.images.empty?) %>
    <%for img in @product.images %>
          <%if(@product.id == img.product_id)%>
              <tr><td> <%= link_to(image_tag(img.picture), img) %> </td></tr>
          <%end%>
    <%end%>
      <%else%>
         <tr><td>No Images</td></tr>
      <%end%>
</table>

  <%= my_button_to "New Image", "/images/new", [@product]%>

 <table style="padding-top: 15px">
  <tr>
    <th align="left">Related Data Files</th>
  </tr>
      <%proddatafiles = @product.data_files%>
      <%if(!proddatafiles.empty?)%>
      <%for df in proddatafiles%>
         <tr><td> <%= link_to(df.filedata_file_name, df) %> </td></tr>
      <%end%>
      <%else%>
         <tr><td>No Data Files</td></tr>
      <%end%>
</table>
  <%= my_button_to "New Datafile", "/data_files/new", [@product]%>
  <br/>

 </div>
  </div>
</div>

<div class="right_div">
  <%= button_to "Edit Product", edit_product_path(@product), :method => :get %>
  <%=button_to "Delete Product", {:controller => :products, :action => "destroy", :id => @product.id }, :confirm => "Are You sure?", :method => :delete%>
  <%= button_to "Duplicate Product", new_product_path + "?duplicate_product=#{@product.id}"%>
</div>