<p id="notice"><%= notice %></p>
<h1>Viewing Product: <%=@product.name%></h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td valign="top"><%= @product.code %></td>
    <td><%= button_to "Edit Product", edit_product_path(@product), :method => :get %></td>
  </tr>
</table>

<table>
  <th align="left">Categories related to <%=@product.name%></th>
  <%  for cat in  @product.categories%>
      <tr><td><%= link_to cat.name, cat %></td></tr>
  <% end %>
</table>
<%components = @product.components
  if(components.length > 0) %>
    <table>
      <tr>
        <th align="left"><b>Components related to <%=@product.name%></b></th>
        <th align="left"><b>Description</b></th>
      </tr>
      <%for comp in components%>
          <tr>
            <td> <%= link_to("#{comp.name}", comp) %> </td>
            <td> <%= comp.description %> </td>
          </tr>
      <%end%>
    </table>
<%else%>
    <br/>No Components
<%end%>
<%= button_to "New Component", new_component_path, :method => :get %>
<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Properties related to <%=@product.name%></b></th>
    <th align="left"><b>Value</b></th>
  </tr>
  <%properties = @product.properties %>

  <% if(!properties.empty?) %>
    <%for prod in properties %>
    <%valuefields = prod.valuefields %>
      <tr><td> <%= link_to("#{prod.name} (#{prod.field_type}) ", prod) %> </td>

        <%if(!valuefields.empty?)%>
            <td><table>
            <%for val in valuefields%>

                <tr><td> <%= link_to(val.fieldvalue, val) %> </td></tr>

            <%end%>

             <tr><td> <%= button_to "New Valuefield", new_valuefield_path %> </td></tr>
            </table></td>
        <%else%>

            <td>No valuefields</td>
        <%end%>
      </tr>
   <%end%>

  <%else%>
      <tr><td>No properties</td><td>No value</td></tr>
  <%end%>



<tr><td> <%= button_to "New Property", new_property_path %> </td></tr>

</table>

