<p id="notice"><%# notice %></p>
<h1>Viewing Product: <%=@product.name%></h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Code</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td valign="top"><%= @product.name %></td>
    <td valign="top"><%= @product.description %></td>
    <td valign="top"><%= @product.code %></td>
    <td><%= button_to "Edit Product", edit_product_path(@product), :method => :get %></td>
  </tr>
</table>

<table style="padding-top: 15px">
  <tr>
  <th align="left"><b>Categories related to <%=@product.name%></b></th>
    </tr>
  <% if(!@product.categories.empty?)
     for cat in  @product.categories.sort {|x,y| x.name <=> y.name }%>
      <tr><td><%= link_to cat.name, cat %></td></tr>
  <% end %>
      <%else%>
      <tr><td>No Categories</td><td></td></tr>
<%end%>
</table>



<%components = @product.components.sort {|x,y| x.name <=> y.name }%>
    <table style="padding-top: 15px">
      <tr>
        <th align="left"><b>Components related to <%=@product.name%></b></th>
        <th align="left"><b>Description</b></th>
      </tr>
  <%if(!components.empty?) %>
      <%for comp in components%>
          <tr>
            <td> <%= link_to("#{comp.name}", comp) %> </td>
            <td> <%= comp.description %> </td>
          </tr>
      <%end%>

<%else%>
    <tr><td>No Components</td><td></td></tr>
<%end%>
    </table>
<form method="get" action="/components/new"  class="button_to">
                <div><input type="submit" value="New Component" /></div>
                     <input type="hidden" name="product_id" value="<%=@product.id%>"/>
               </form>






<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Properties related to <%=@product.name%></b></th>
    <th align="left"><b>Value</b></th>
  </tr>
  <%properties = @product.properties.sort {|x,y| x.name <=> y.name } %>

  <% if(!properties.empty?) %>
    <%for prod in properties %>
    <%valuefields = prod.valuefields.sort {|x,y| x.name <=> y.name } %>
      <tr><td> <%= link_to("#{prod.name} (#{prod.field_type}) ", prod) %> </td>

        <%if(!valuefields.empty?)%>
            <td><table>
            <%for val in valuefields%>

                <tr><td> <%= link_to(val.fieldvalue, val) %> </td></tr>

            <%end%>

             <tr><td> <%= button_to "New Valuefield", new_valuefield_path, :method => :get %> </td></tr>
            </table></td>
        <%else%>

            <td>No valuefields</td>
        <%end%>
      </tr>
   <%end%>

  <%else%>
      <tr><td>No properties</td><td>No value</td></tr>
  <%end%>


</table>
<%= button_to "New Property", new_property_path, :method => :get %>




<table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Images related to <%=@product.name%></b></th>
  </tr>
      <%prodImages = []%>
  <% if(!@all_images.empty?) %>
    <%for img in @all_images %>
          <%if(@product.id == img.product_id)%>
              <%prodImages.push(img)%>
          <%end%>
    <%end%>
  <%end%>
      <%if(!prodImages.empty?)%>
      <%for ig in prodImages%>
         <tr><td> <%= link_to(image_tag(ig.picture), ig) %> </td></tr>
      <%end%>
      <%else%>
         <tr><td>No Images</td></tr>
      <%end%>
</table>
<form method="get" action="/images/new"  class="button_to">
                <div><input type="submit" value="New Image" /></div>
                     <input type="hidden" name="product_id" value="<%=@product.id%>"/>
               </form>


 <table style="padding-top: 15px">
  <tr>
    <th align="left"><b>Data Files related to <%=@product.name%></b></th>
  </tr>
      <%proddatafiles = []%>
  <% if(!@all_datafiles.empty?) %>
    <%for df in @all_datafiles %>
          <%if(@product.id == df.product_id)%>
              <%proddatafiles.push(df)%>
          <%end%>
    <%end%>
  <%end%>
      <%if(!proddatafiles.empty?)%>
      <%for df in proddatafiles%>
         <tr><td> <%= link_to(df.filedata_file_name, df) %> </td></tr>
      <%end%>
      <%else%>
         <tr><td>No Images</td></tr>
      <%end%>
</table>
<form method="get" action="/data_files/new"  class="button_to">
                <div><input type="submit" value="New Datafile" /></div>
                     <input type="hidden" name="product_id" value="<%=@product.id%>"/>
               </form>

