<%= form_for(@image, :html => { :multipart => true }) do |f| %>
    <% if @image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% @image.errors.full_messages.each do |msg| %>
                <li><h2><%= msg %></h2></li>
            <% end %>
          </ul>
        </div>
    <% end %>
 <div class="main_div">
    <table class="main_table">
      <tr>
        <th align="left">Select Image:</th>
        <th align="left">Products</th>
        <th align="left">Components</th>
        <th align="left">Valuefields</th>
      </tr>
      <tr>
        <td style="width: 325px">
          <div class ="field" style="padding-bottom: 10px">
            <%= f.file_field(:picture, :id => "pic", :required => true) %>&nbsp;<span style="color: red">*</span>
          </div>
          <div class align="field">
            <%=image_tag(@image.picture(:small), :id => "img", :alt=>"") %>
          </div>
        </td>
        <td>
          <div class="field">
            <select size="5" name="image[product_id[]]" style="width: 200px">
              <% for prod in @all_products.sort {|x,y| x.name <=> y.name } %>
                  <option value="<%= prod.id %>"  <%= " selected = \"true\"" if @product == prod%>>
                    <%= prod.name %>
                  </option>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <div class="field">
            <select size="5" name="image[component_id[]]" style="width: 200px">
              <% for comp in @all_components.sort {|x,y| x.name <=> y.name } %>
                  <%= components_select_table(comp, 0).html_safe %>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <div class="field">
            <select size="5" name="image[valuefield_id]" style="width: 200px">
              <%for vf in @all_valuefields.sort {|x,y| x.fieldvalue <=> y.fieldvalue } %>
                  <option value="<%= vf.id%>"<%=" selected = \"true\"" if @valuefield == vf%>>
                    <%= vf.fieldvalue %>
                  </option>
              <% end %>
            </select>
          </div>
        </td>

</tr>
</table>
   </div>

          <div class="right_div">
            <%= f.submit :class => "submit"%>
          </div>

<% end %>
<br class="clear" />

<!--Script used to remove current image from edit page when user file_field input changes -->
<script type="text/javascript">
    jQuery(function($){
                $('#pic').change(
                        function(){
                            $('#img').remove();
                        }
                )
            }
    )
</script>