<%= form_for(@image, :html => { :multipart => true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
      <tr>
        <th align="left">Select Image:</th>
        <th align="left">Products</th>
        <th align="left">Components</th>
        <th align="left">Valuefields</th>
        <th align="left">Actions</th>
      </tr>
      <tr>
        <td style="width: 200px">
          <div class ="field">
            <%= f.file_field :picture, :required => true %>
          </div>
        </td>
        <td>
          <div class="field">
            <select size="5" name="image[product_id]" style="width: 200px">
                  <% for prod in @all_products %>
                      <option value="<%= prod.id %>">
                        <%= prod.name %>
                      </option>
                  <% end %>
                </select>
          </div>
        </td>
        <td>
          <div class="field">
                <select size="5" name="image[component_id]" style="width: 200px">
                  <% for comp in @all_components %>
                       <%@pt = ""%>
                      <%= components_table(comp, 0, nil) %>
                       <%=@pt.html_safe%>
                  <% end %>
                </select>
          </div>
        </td>
        <td>
          <div class="field">
            <select size="5" name="image[valuefield_id]" style="width: 200px">
              <%for vf in @all_valuefields %>
              <option value=<%= vf.id%>>
                      <%= vf.fieldvalue %>
                      </option>
                  <% end %>
            </select>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit %>
          </div>
<% end %>
</td>
</tr>
</table>
<br class="clear" />
