<h1 class="tight_h1"><%= @image_alias %>: Show</h1>
<div>
<table class="tight_table main_table">
  <tr>
    <th align="left"><%= @image_alias %></th>
    <th align="left"><%= @image_alias %> Name</th>
    <th align="left">Actions</th>
  </tr>
  <tr>
    <td valign="top"><%= image_tag(image.picture.url(:small)) %></td>
    <td><%= image.picture_file_name %></td>
    <td>
        <div>
           <!-- external page is given in the href attribute (as it should be) -->
            <a href="#" rel="#overlay_image_<%=image.id%>" style="text-decoration:none" id="I<%=image.id%>" class="overlay" value="Edit Image">
              <!-- remember that you can use any element inside the trigger -->
              <%= image_tag "edit-icon.png", :title=>"Edit", :value=>"Edit Image"%>
            </a>
            <div class="apple_overlay" id="overlay_image_<%=image.id%>"></div>
          <%= link_to image_tag("delete-icon.png"), {:controller => :images, :action => "destroy", :id => image.id }, :confirm => "Are You sure?", :method => :delete%>
        </div>
      </td>
  </tr>
</table>
</div>

<!-- Javascript for edit button click function - triggers overlay with edit page -->
<script type="text/javascript">
   jQuery(function($) {
  $('a[id="I<%=image.id%>"]').click(function(){
            $.get("/admin/load_edit_image_page", {image_id: "<%=image.id%>"}, null, 'script');
        });
   });
</script>