<p id="notice"><%= notice %></p>
<h1>Viewing Image: <%=@image.picture_file_name%></h1>
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Image</th>
    <th align="left">Image Name</th>
  </tr>
  <tr>
    <td valign="top"><%= image_tag(@image.picture.url(:original)) %></td>
    <td><%=@image.picture_file_name%></td>
  </tr>
</table>

  <!-- the tabs -->
<ul class="tabs">
	<li><a href="#">Associations</a></li>
</ul>
<!-- tab "panes" -->
<div class="panes">
  <div>
<table>
  <tr>
    <th align="left">Related Products</th>
  </tr>
    <% if(!@image.products.empty?) %>
        <%for prod in @image.products%>
            <tr><td><%= link_to prod.name, prod %></td></tr>
        <%end%>
    <%else%>
        <tr><td>N/A</td></tr>
    <%end%>
</table>
<table>
  <tr>
    <th align="left">Related Components</th>
  </tr>
    <% if(!@image.components.empty?) %>
        <%for comp in @image.components%>
            <tr><td><%= link_to comp.name, comp %></td></tr>
        <%end%>
    <%else%>
        <tr><td>N/A</td></tr>
    <%end%>
</table>
<table style="padding-top: 15px">
  <tr>
    <th align="left">Related Valuefields</th>
  </tr>
    <% if(!@image.valuefields.empty?) %>
        <%for vf in @image.valuefields%>
            <tr><td><%= link_to vf.fieldvalue, vf %></td></tr>
        <%end%>
    <%else%>
        <tr><td>N/A</td></tr>
    <%end%>
</table>
</div>
  </div>
  </div>

<div class="right_div">
<%= button_to "Edit Image", edit_image_path(@image), :method => :get %>
    <%=button_to "Delete Image", {:controller => :images, :action => "destroy", :id => @image.id }, :confirm => "Are You sure?", :method => :delete%>
</div>
