<p id="notice"><%= notice %></p>
<h1>Viewing Image: <%=@image.picture_file_name%></h1>
<div class="inner_container_show">
<div class="main_div">
<table class="main_table">
  <tr>
    <th align="left">Image</th>
    <th align="left">Image Name</th>
  </tr>
  <tr>
    <td><%=link_to(image_tag(@image.picture.url(:original)), @image.picture.url(:original), {:target => "blank"})%></td>
    <td><%=link_to(@image.picture_file_name, @image.picture.url(:original), {:target => "blank"})%></td>
  </tr>
</table>

  <!-- the tabs -->
  <div class="tabs">
    <ul>
        <li><a href="#">Products</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Value Fields</a></li>
    </ul>
    <!-- tab "panes" -->
    <div>
      <div>

    <%= print_products_table(@image).html_safe %>
        </div>
      <div>
    <%= print_components_table(@image).html_safe %>
        </div>
      <div>
    <%= print_valuefields_table(@image).html_safe %>

    </div>
      </div>
      </div>
  </div>
</div>

<div class="right_div">
<%= button_to "Edit Image", edit_image_path(@image), :method => :get %>
    <%=button_to "Delete Image", {:controller => :images, :action => "destroy", :id => @image.id }, :confirm => "Are You sure?", :method => :delete%>
</div>
