<!DOCTYPE html>
<html>
<head>
  <title>TestDBRubymineProject</title>
  <%= stylesheet_link_tag 'application', :media => 'screen'%>
   <%= javascript_include_tag "application"%>


  <!-- include the Tools -->
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
  <div class="containerBanner">
    <% banner %>
    <%=image_tag(@imagelogo,  :alt=>"Company Logo", :style => 'margin-right: 5px') %><%=image_tag(@imagebanner,  :alt=>"Company Banner", :width => 945, :height => 100) %>
  </div>
  <div class="containerLinks">
    <nav class="round">
      <ul>
        <%= link_to "Main Menu", "/admin"%> |
        <% if current_user %>
            Logged in as <%= current_user.username %>.
            <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Sign up", signup_path %> |
            <%= link_to "Log in", login_path %>.
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="error_div">
    <% flash.each do |name, msg| %>
        <h4><%= content_tag :div, msg, :id => "flash_#{name}", :class => "error_div"%></h4>
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>


<script type="text/javascript" charset="utf-8">
    // setup ul.tabs to work as tabs for each div directly under div.panes

    $('div.tabs').each(function(){
       $(this).find('ul:first').tabs($(this).find('div:first > div'), {effect: 'fade', fadeOutSpeed: 400});
    });

    $('div.tabs2').each(function(){
       $(this).find('ul:first').tabs($(this).find('div:first > div'));
    });

     $('li > input').click(function(){
        var current_select = $(this);
        var array_select = $('li > input');
         for(i = 0; i < array_select.length; i++) {
          if(current_select.attr('id') == array_select.eq(i).attr('id')) {
              if(current_select.is(':checked')){
                  array_select.eq(i).attr('checked', true);
              }
              else{
                  array_select.eq(i).attr('checked', false);
              }

          }
         }
    });

  $(".content").hide();
  //toggle the componenet with class msg_body
  $(".heading").click(function()
  {
    $(this).next(".content").slideToggle(1200).scroll();
  });

<!--//--><![CDATA[//><!--
$("html").addClass("js");
$.fn.accordion.defaults.container = false;
$(function() {
  $(".accordion").accordion();


  $("html").removeClass("js");
});
//--><!]]>

</script>





