<!DOCTYPE html>
<html>
<head>
  <title>TestDBRubymineProject</title>
  <%= stylesheet_link_tag 'application', :media => 'screen'%>
   <%= javascript_include_tag "application"%>
  <!-- include the Tools -->
	<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.nestedAccordion.js"></script>
  <%= csrf_meta_tags %>
  <style type='text/css'>


 /* --- Headings --- */
h1 {font-family:georgia,'times new roman',times,serif; font-size:2.5em; font-weight:normal; color:#f60}

h1, h2, h3 {margin-bottom:1em}

h2, h3, h4 a, h5 a {padding:3px 10px}

h2, h3, h4, h5 {font-size:1em}

#main h2 {background-color:#f0f0f0}

#side, #side h2, #side h3 {background:#000; color:#e3e3e3}

#side h2 {border-bottom:1px solid #484b51}

/* --- Links --- */
a {padding:1px; border:1px solid #e0e0e0; color:#05b}

a:hover, a:focus, a:active {border-color:#bcd; text-decoration:none; outline:0 none}

#side a {display:block; border-width:0 0 1px; border-color:#445; color:#f0f0f0}

#side a:hover, #side a:active, #side a:focus {background-color:#334}

/* --- Accordion --- */
.js #main .accordion {visibility:hidden}

.js #side .accordion {display:none}

.accordion {margin:0; padding:0 10px}

.accordion li {list-style-type:none}

.accordion li.last-child {margin-left:19px; list-style-type:none}

#side ul.accordion ul {margin:0; padding:0 0 0 20px;}

.accordion .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff}

.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; position:relative; overflow:hidden}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em} /* vertical padding instead of vertical margin (ie8) */

.accordion p {margin:.5em 1px 1em}

/*
  Add styles for all links in the 'accordion':
.accordion a {...}
*/

a.trigger {padding-left:20px; background-image: url(/assets/plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}

a.disable {padding-left:20px; background-image: url(/assets/minus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}

a.trigger.open {background-image: url(/assets/minus.gif);}

.last-child a.trigger{padding-left:1px; background-image:none; font-weight:normal}

#main a.trigger {background-color:#f0f0f0}

#main a.trigger.open {border-color:#dadada; background-color:#e7e7e7}

#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#bcd}

#side a.active{font-weight:700; color:#f72; text-decoration:none}
  </style>
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
$("html").addClass("js");
$.fn.accordion.defaults.container = false;
$(function() {

  $("#acc1").accordion({
      el: ".h",
      head: "h4, h5",
      next: "div",
      initShow : "div.outer:eq(1)",
      standardExpansible : true
  });

  $("html").removeClass("js");
});
//--><!]]>
</script>

</head>
<body>
<div class="container">
  <div class="containerBanner">
    <% banner %>
    <%=image_tag(@imagelogo,  :alt=>"Company Logo", :style => 'margin-right: 5px') %><%=image_tag(@imagebanner,  :alt=>"Company Banner", :width => 945, :height => 100) %>
  </div>
  <div class="containerLinks">
    <nav class="round">
      <ul>
        <%= link_to "Main Menu", "/admin"%> |
        <% if current_user %>
            Logged in as <%= current_user.username %>.
            <%= link_to "Log out", logout_path %>
        <% else %>
            <%= link_to "Sign up", signup_path %> |
            <%= link_to "Log in", login_path %>.
        <% end %>
      </ul>
    </nav>
  </div>
  <br /><br />
  <div class="error_div">
    <% flash.each do |name, msg| %>
        <h4><%= content_tag :div, msg, :id => "flash_#{name}", :class => "error_div"%></h4>
    <% end %>
  </div>
  <br />
  <%= yield %>
</div>
</body>
</html>


<script type="text/javascript" charset="utf-8">
    // setup ul.tabs to work as tabs for each div directly under div.panes
    $("ul.tabs").tabs("div.panes > div");
    $("ul.tabs_child").tabs("div.child_panes > div");
</script>

